<div class="grid-item div_square_bloc_cancel"
        hx-get="/patient/patient_cancel" 
        {% if page_patient_structure == "full" %}
        hx-target="#div_buttons_parents"
        {% else %}
        hx-target="#div_buttons_children"
        {% endif %}>

        <div class="grid_square_cancel_buttons">
                <img class="img_square_cancel_bouton img_btn_active" 
                        src='/static/images/buttons/default/cancel.png'>
                <div class="div_text_cancel_button_square_active ">
                        <p>{{page_patient_interface_validate_cancel}}</p>
                </div>
        </div>
</div>