<div id="div_conclusion" class="div_summary">

    <div id="conclusion_text" class="div_text_summary">
        <p class="text_summary">
            {{page_patient_confirmation_message}}
        </p>
    </div>

    <div class="div_qr_plus_buttons">

        <div id="div_qr_code" class="div_qr_code">
            <img src="{{ url_for('static', filename='qr_patients/' ~ image_name_qr) }}" alt="QR Code">
        </div>

        <div class="div_validation_buttons">
            
            <div
                id="print_btn"
                {% if not reprint %} style="display: none;" {% endif %} 
                class="div_validation_one_button">
                <p class="validation_button">{{ page_patient_interface_done_print }}</p>
            </div>

            <div
                id="prolong_btn"
                {% if not reprint %} style="display: none;" {% endif %} 
                class="div_validation_one_button">
                <p class="validation_button">{{page_patient_interface_done_extend}}</p>
            </div>

            <div
                id="cancel_btn" 
                class="div_validation_one_button"
                hx-get="/patient/cancel_patient"
                hx-target="#div_buttons_parents">
                <p class="validation_button">{{page_patient_interface_done_back}}</p>
            </div>

        </div>
    </div>

    <div id="timer_container">
        <div id="timer_gauge"></div>
    </div>

</div>

<div id="print_data" print-ticket="{{ print_ticket }}" data-print="{{ print_data | escape }}" style="display: none;"></div>

<script>

    var timerGauge = document.getElementById('timer_gauge');
    var prolongBtn = document.getElementById('prolong_btn');
    var printBtn = document.getElementById('print_btn');
    var cancelBtn = document.getElementById('cancel_btn');
    var timerDuration = {{page_patient_end_timer}}; // seconds
    var startTime;
    var remainingTime = timerDuration * 1000; // Convert to milliseconds
    var animationFrame;

    function updateTimerGauge() {
        var currentTime = Date.now();
        var elapsedTime = currentTime - startTime;
        var newRemainingTime = remainingTime - elapsedTime;

        if (newRemainingTime <= 0) {
            timerGauge.style.width = '0%';
            cancelAnimationFrame(animationFrame);
            goToCancelPatient();
        } else {
            var widthPercent = (newRemainingTime / (timerDuration * 1000)) * 100;
            timerGauge.style.width = widthPercent + '%';
            animationFrame = requestAnimationFrame(updateTimerGauge);
        }
    }

    function startTimer() {
        startTime = Date.now();
        animationFrame = requestAnimationFrame(updateTimerGauge);
    }

    function resetTimer() {
        remainingTime = timerDuration * 1000; // Reset remaining time
        startTime = Date.now();
        cancelAnimationFrame(animationFrame);
        updateTimerGauge();
    }

    function goToCancelPatient() {
        htmx.ajax('GET', '/patient/cancel_patient', {
            target: '#div_buttons_parents'
        });
    }

    function stopTimer() {
        cancelAnimationFrame(animationFrame);
    }

    prolongBtn.addEventListener('click', function() {
        resetTimer();
    });

    printBtn.addEventListener('click', function() {
        resetTimer();
        handlePrintButtonClick()
    });

    cancelBtn.addEventListener('click', function() {
        stopTimer();
    });

    // Ensure timer starts immediately without delay
    startTimer();


    function handlePrintButtonClick() {
        // Récupérer les données d'impression
        var printDataElement = document.getElementById('print_data');
        if (printDataElement) {
            var printData = printDataElement.getAttribute('data-print');
            var printTicket = printDataElement.getAttribute('print-ticket');

            // Vérifier si l'impression est demandée

                if (printData) {
                    console.log("Données d'impression prêtes à être envoyées :", printData);

                    // Vérifier si le Bridge est disponible
                    if (typeof window.bridge !== 'undefined') {
                        // Appeler la méthode d'impression via le Bridge
                        bridge.print_ticket(printData);
                    } else {
                        console.warn("Le Bridge n'est pas disponible. Tentative de ré-initialisation...");

                        // Tentative de ré-initialisation du Bridge
                        new QWebChannel(qt.webChannelTransport, function(channel) {
                            window.bridge = channel.objects.bridge;
                            if (typeof window.bridge !== 'undefined') {
                                console.log("Bridge ré-initialisé avec succès.");
                                bridge.print_ticket(printData);  // Appel d'impression après ré-initialisation
                            } else {
                                console.error("Échec de la ré-initialisation du Bridge. Impression non effectuée.");
                            }
                        });
                    }
                } else {
                    console.error("Les données d'impression ne sont pas disponibles.");
                }            
        } else {
            console.error("L'élément print_data est introuvable.");
        }
    }


</script>