<div class="grid-item div_bloc_activity" id="{{ button.activity.name | replace(' ', '_') }}"
                hx-post="/patients_submit" 
                hx-vals='{"activity_id": "{{ button.activity.id }}",
                        "is_parent": "{{ button.is_parent }}",
                        "is_active": "{{ button.is_active }}",
                        "button_id": "{{ button.id }}"
                        }'
                {% if page_patient_structure == "full" %}
                        {% if button.is_active %}
                                hx-target="#div_buttons_parents"
                        {% else %}
                                hx-target="#div_buttons_children"
                        {% endif %}
                {% else %}
                        hx-target="#div_buttons_children"
                {% endif %}
        >
                <div class="div_circle_buttons {% if button.is_active %} div_button_active {% else %} div_button_inactive {% endif %}">
                        <img class="img_btn {% if button.is_active %} img_btn_active {% else %} img_btn_inactive {% endif %}" 
                                src='/static/images/buttons/{{ button.image_url }}'>
                </div>
                <div class="div_text_button {% if button.is_active %} div_text_button_active {% else %} div_text_button_inactive {% endif %}">
                        <p>{{ button.label }}</p>
                </div>
        </div>