<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Enregistrement de la file d'attente</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="../static/css/test.css">
    <script src="https://unpkg.com/htmx.org"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/ws.js"></script>
    <script src="https://cdn.socket.io/4.7.4/socket.io.js"></script>
</head>
<body>


    <div id="main">
        <div id="div_title_area">
            {{page_patient_title}}
        </div>

        <div id="div_buttons_parents"
            hx-get="/patient/patient_buttons"
            hx-trigger="load, refresh_buttons"
            hx-target="#div_buttons_parents"
            hx-swap="innerHTML">
        </div>

        <div id="div_intermediaire">
            
        </div>

        <div id="div_buttons_children">
            <div class="div_text_explanation">
                {{page_patient_subtitle}}
            </div>
        </div>


    </div>
    
    <!-- Voie de garage pour les retours htmx qui ne doivent pas être affichés-->
    <div id="invisible" style="display:none;"></div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="../static/js/patients.js"></script>
</body>
</html>