{% for button in buttons %}
<div class="div_bloc_activity"
        hx-post="/patients_submit" 
        hx-vals='{"activity_id": "{{ button.activity.id }}",
                "is_parent": "{{ button.is_parent }}",
                "button_id": "{{ button.id }}"
                }' 
        hx-target="#div_buttons_children"
                >
        <div class="div_buttons">
                <img class="img_btn" src='/static/images/buttons/{{ button.image_url }}'>
        </div>
        <div class="div_text_button">
                <p>{{ button.label }}</p>
        </div>
</div>
{% endfor %}