<div id="div_confirmation">

    <div id="div_qr_code">
        <img src="{{ url_for('static', filename='qr_patients/' ~ image_name_qr) }}" alt="QR Code">
    </div>

    <div id="div_validation_buttons">
        <div id="div_call_number">
            <p id="text_call_number">Votre numéro : {{ text }}</p>
        </div>
        <div class="div_validation_one_button">
            <p class="validation_button">Imprimer et valider</p>
        </div>
        <div class="div_validation_one_button">
            <p class="validation_button">Valider sans impression</p>
        </div>
        <div class="div_validation_one_button">
            <p class="validation_button">Annuler</p>
        </div>
    </div>
</div>