<div id="div_confirmation" class="div_summary" style="zoom: 0.8;">
    <div id="div_call_number" class="div_text_summary">
        <p id="text_call_number" class="text_summary">{{page_patient_validation_message}}</p>
    </div>

    <div class="div_qr_plus_buttons"
        {% if not page_patient_display_qrcode %}
            style="display: flex; justify-content: center;"
        {% endif %}
    >
        
        {% if page_patient_display_qrcode %}
        <div id="div_qr_code" class="div_qr_code">
            <img src="{{ url_for('static', filename='qr_patients/' ~ image_name_qr) }}" alt="QR Code">
        </div>
        {% endif %}

        <div class="div_validation_buttons"
            {% if not page_patient_display_qrcode %}
                style="margin-left: 0;"
            {% endif %}
        >

            <div
                id="print_and_validate"
                class="{% if page_patient_button_print_ticket_display_picture %} 
                            div_validation_one_button_with_img 
                        {% else %} 
                            div_validation_one_button 
                        {% endif %}"
                hx-post="/patient/print_and_validate"
                hx-vals='{"activity_id": "{{ activity.id }}"}'
                {% if page_patient_structure == "full" %}
                    hx-target="#div_buttons_parents"
                {% else %}
                    hx-target="#div_buttons_children"
                {% endif %}
            >   
                {% if page_patient_button_print_ticket_display_picture %}                
                    <img src="/static/images/buttons/{{ page_patient_button_print_ticket_picture }}"
                    class="img_for_div_validation"
                    >
                {% endif %}
                <p class="validation_button">{{ page_patient_interface_validate_print }}</p>
            </div>
            
            {% if page_patient_display_button_scan %}
                <div class="div_validation_one_button"
                    hx-post="patient/scan_and_validate"
                    {% if page_patient_structure=="full"%}
                        hx-target="#div_buttons_parents"
                    {% else %}
                        hx-target="#div_buttons_children"
                    {% endif %}
                    hx-vals='{"activity_id": "{{ activity.id }}"}'>
                    <p class="validation_button">{{page_patient_interface_validate_scan}}</p>
                </div>
            {% endif %}

            {% if page_patient_display_scan_explanation and page_patient_display_qrcode %}
                <div class="div_explanation">
                    {{page_patient_interface_scan_explanation}}
                </div>
            {% endif %}

            <div 
                id="div_for_scan"
                hx-trigger="qrcode_is_scanned"
                hx-post="patient/scan_already_validate"
                {% if page_patient_structure=="full"%}
                    hx-target="#div_buttons_parents"
                {% else %}
                    hx-target="#div_buttons_children"
                {% endif %}
                hx-vals='{"patient_call_number": "{{ futur_patient.call_number }}"}'>
            </div>
    
            {% if page_patient_structure=="full"%}
                <div class="{% if page_patient_button_cancel_display_picture %} 
                        div_validation_one_button_with_img 
                    {% else %} 
                        div_validation_one_button 
                    {% endif %}"
                    hx-get="/patient/patient_cancel"
                    hx-target="#div_buttons_parents">
                    {% if page_patient_button_cancel_display_picture %}                
                        <img src="/static/images/buttons/{{ page_patient_button_cancel_picture }}"
                        class="img_for_div_validation"
                    >
                {% endif %}
                    <p class="validation_button">{{page_patient_interface_validate_cancel}}</p>
                </div>
            {% else %}
                <div class="{% if page_patient_button_cancel_display_picture %} 
                        div_validation_one_button_with_img 
                    {% else %} 
                        div_validation_one_button 
                    {% endif %}"
                    hx-get="/patient/patient_cancel"
                    hx-target="#div_buttons_parents">
                    <div id="second_action"
                        hx-get="patient/default_subtitle"
                        hx-target="#div_buttons_children"
                        hx-swap="innerHTML">
                        <p class="validation_button">{{page_patient_interface_validate_cancel}}</p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

</div>

    <!-- Inclure les données d'impression 
    <div id="print_data" data-print='{{ print_data | safe }}' style="display:none"></div>-->

<script>

    // Fonction qui permet de désactiver les boutons de validation pour éviter double validation
    function disableButtons(button) {
        // Désactive le bouton cliqué
        button.style.pointerEvents = 'none';
        button.style.opacity = '0.6';
    
        // Désactive tous les boutons de validation
        const buttons = document.querySelectorAll('.div_validation_one_button');
        buttons.forEach(function(btn) {
            btn.style.pointerEvents = 'none';
            btn.style.opacity = '0.6';
        });
    }
    </script>