<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Enregistrement de la file d'attente</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="../static/css/patient.css">
    <script src="https://unpkg.com/htmx.org"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/ws.js"></script>
</head>
<body>

    <div class="center-align top">
        <h1>{{ _('Bienvenue à la Pharmacie Sainte-Agathe') }}</h1>
        <h3>{{ _("Afin d'améliorer votre prise en charge, saisissez le motif de votre visite. Nous vous appelerons à votre tour.") }}</h3>
    </div>

    <div class="row s12">

        <div id="left_page_patient" class="container col s6">
            
        </div>

        <div id="left_page_patient" class="container col s6">
        </div>

    </div>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="../static/js/patients.js"></script>
</body>
</html>