Bouton {{buttons}}
{% for button in buttons %}
<div class="col s6 valign-wrapper div-btn-large">
    <button class="btn-large waves-effect waves-light col" 
            hx-post="/patients_submit" 
            hx-vals='{"activity_id": "{{ button.activity.id }}",
                    "is_parent": "{{ button.is_parent }}",
                    "button_id": "{{ button.id }}"
                    }' 
            hx-target="#htmx_div_left_page"
            style="background-image:url('/static/images/buttons/{{ button.image_url }}'); 
                    background-size: cover;">
        <p class="button-text-style">{{ button.label }} {{ button.activity.id }}</p>
    </button>
</div>
{% endfor %}