<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Information</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="../static/css/phone.css">
</head>
<body>
    <div class="container">

        <div id="div_title_area">
            <h1 id="text_title">Bienvenue à la pharmacie Sainte-Agathe</h1>
        </div>
        <div id="div_infos">
            
            {% for phone_line in phone_lines %}
                <p>{{ phone_line }}</p>
            {% endfor %}
        </div>
    </div>


</body>
</html>