<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Enregistrement de la file d'attente</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="../static/css/test.css">
    <script src="https://unpkg.com/htmx.org"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/ws.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
</head>
<body>

    <div id="main">
        <div id="div_title_area">
            Bienvenue à la Pharmacie Sainte-Agathe !
        </div>

        <div id="div_buttons_parents">
            <div class="div_bloc_activity">
                <div class="div_buttons">
                    <img class="img_btn" src="/static/images/buttons/prescription.png">
                </div>
                <div class="div_text_button">
                    <p>Prescription</p>
                </div>
            </div>
            <div class="div_bloc_activity">
                <div class="div_buttons">
                    <img class="img_btn" src="/static/images/buttons/retrait.png">
                </div>
                <div class="div_text_button">
                    <p class="text_button">Retrait de commande</p>
                </div>
            </div>
            <div class="div_bloc_activity">
                <div class="div_buttons">
                    <img class="img_btn" src="/static/images/buttons/vaccin.png">
                </div>
                <div class="div_text_button">
                    <p class="text_button">Vaccination</p>
                </div>
            </div>
            <div class="div_bloc_activity">
                <div class="div_buttons">
                    <img class="img_btn" src="/static/images/buttons/rdv.png">
                </div>
                <div class="div_text_button">
                    <p class="text_button">Rendez-vous</p>
                </div>
            </div>
        </div>

        <div id="div_buttons_children">

        </div>


    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="../static/js/patients.js"></script>
</body>
</html>