{{ status}}
<a tabindex="0" class="btn filled icon-left"
    hx-post="{{ url_for('validate_and_call_next', counter_id=counter_id) }}">
    <i class="material-icons">skip_next</i>Suivant
</a>

{% if status == 'calling' %}
<a tabindex="1" class="btn filled icon-left"
    hx-post="{{ url_for('validate_patient', counter_id=counter_id, patient_id=patient_id) }}"
    hx-target="#button_section"
    hx-swap="outerHTML">
    <i class="material-icons">check</i>Valider
</a>
{% else %}
<a tabindex="1" class="btn filled icon-left disabled">
    <i class="material-icons">check</i>Valider
</a>
{% endif %}

{% if status == 'ongoing' %}
<a tabindex="2" class="btn filled icon-left"
    hx-post="{{ url_for('pause_patient', counter_id=counter_id, patient_id=patient_id) }}"
    hx-target="#button_section"
    hx-swap="outerHTML">
    <i class="material-icons">pause</i>Pause
</a>
{% else %}
<a tabindex="2" class="btn filled icon-left disabled">
    <i class="material-icons">pause</i>Pause
</a>
{% endif %}