<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Comptoir {{ counter.name }}</title>
    <script src="https://unpkg.com/htmx.org"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/ws.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.1.0/dist/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/counter.css">
</head>
<body>

    <div id="div_main">

        <div id="div_top" class="row">

            <div id="div_buttons" class="s6 col">                

                <div id="div_frame_buttons" class="framed col">

                    <div 
                        id="div_current_patient" 
                        class="row s12 center-align" 
                        hx-trigger="refresh_current_patient, load" 
                        hx-get="/current_patient_for_counter/{{ counter.id }}" 
                        hx-swap="innerHTML">
                    </div>


            <div 
                id="button_section" 
                class="center-align"
                hx-trigger="refresh_buttons, load" 
                hx-get="/counter/buttons_for_counter/{{ counter.id }}" 
                hx-swap="innerHTML">
            </div>

                </div>

            </div>
    
            <div id="div_counter_infos" class="s6">
                <div id="div_frame_staff" class="framed">
                    <div id="div_counter_number" class="center-align">
                        Comptoir <span style ="display: none" id="counter_id">{{ counter.id }}</span>{{ counter.name }}
                    </div>
                    
                    <div id="staff_on_counter" class=""
                        hx-get="/counter/is_staff_on_counter/{{ counter.id }}"
                        hx-trigger="load, refresh_staff_on_counter"
                        hx-swap="innerHTML"
                        hx-target="#staff_on_counter"
                        >
                        <!-- Staff +  form-->
                    </div>
                </div>        
            </div>

        </div>

    </div>
    
    <div id="div_switch_auto_calling"
        hx-get="/counter/switch_auto_calling/{{ counter.id }}"
        hx-trigger="load, refresh_switch_auto_calling"
        hx-swap="innerHTML"
        >
    </div>

    <div id="div_paper_add"
        hx-get="/counter/paper_add"
        hx-trigger="load, refresh_paper_add"
        hx-swap="innerHTML"
        >
    </div>

    <div id="patient_on_queue" 
        hx-trigger="refresh_queue, load" 
        hx-get="/counter/patients_queue_for_counter/{{ counter.id }}" 
        hx-swap="innerHTML">
    </div>

<!-- Pour l'instant suspendu ....
    <div id="list_of_activities"
        hx-post="/counter/list_of_activities"
        hx-trigger="on_update_staff_on_counter"
        hx-swap="innerHTML"
        hx-target="#list_of_activities"
        hx-vals='js:{"staff_id": document.getElementById("staff_id").innerHTML}'>
    </div>
-->


    <script src="https://unpkg.com/htmx.org"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/ws.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.1.0/dist/js/materialize.min.js"></script>
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
    <script src="../static/js/counter.js"></script>
</body>
</html>