<div class="row">

    <div class="s12 m6 input-field"
        id="div_staff_initial"
        hx-post="/counter/update_staff"
        hx-trigger="staff_enter"
        data-enter-trigger="staff_enter"
        hx-target="#staff_on_counter"
        hx-swap="innerHTML"
        data-param-initials="#staff_initial"
        data-param-counter_id="#counter_id@html"
        data-param-deconnect="#deconnect@checked">
        <input id="staff_initial" type="text" placeholder=" " maxlength="20">
        <label for="staff_initial">Initiales</label>
    </div>

    <button type="button" class="btn filled"
            hx-post="/counter/update_staff"
            hx-target="#staff_on_counter"
            hx-swap="innerHTML"
            hx-trigger="click"
            data-param-initials="#staff_initial"
            data-param-counter_id="#counter_id@html"
            data-param-deconnect="#deconnect@checked">
        Valider
    </button>

</div>