.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.framed {
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
}

.center-align {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#div_current_patient {
    padding-bottom: 10px;
}

#div_counter_number {
    padding-bottom: 10px;
}