:root {
    --scan_explanation_font_size: 51px;
    --scan_explanation_font_color: #5707A6;
    --scan_explanation_border_size: 2px;
    --scan_explanation_border_color: #C91313;
    --patient_title_font_size: 80px;
    --patient_title_font_color: #5707A6;
    --patient_title_border_size: 2px;
    --patient_title_border_color: #C91313;
    --subtitle_font_size: 50px;
    --subtitle_font_color: #5707A6;
    --subtitle_border_size: 2px;
    --subtitle_border_color: #C91313;
    --subtitle_no_activity_font_size: 50px;
    --subtitle_no_activity_font_color: #5707A6;
    --subtitle_no_activity_border_size: 2px;
    --subtitle_no_activity_border_color: #C91313;
    --subtitle_specific_message_font_size: 60px;
    --subtitle_specific_message_font_color: #5707A6;
    --subtitle_specific_message_border_size: 2px;
    --subtitle_specific_message_border_color: #C91313;
    --patient_title_background_color: #FFD700;
    --subtitle_background_color: #FFD700;
    --subtitle_no_activity_background_color: #FFD700;
    --subtitle_specific_message_background_color: #FFD700;
    --patient_main_color: #FFD700;
    --patient_secondary_color: #535032;
    --patient_third_color: #5707A6;
    --circle_button_size: 200px;
    --circle_button_color: #FFD700;
    --circle_button_image_size: 200px;
    --circle_button_text_size: 30px;
    --circle_button_text_color: #5707A6;
    --circle_button_border_size: 10px;
    --circle_button_border_color: #00AAFF;
    --circle_button_text_border_size: 0px;
    --circle_button_text_border_color: #C91313;
    --patient_title_background_height: 150px;
    --subtitle_background_height: 150px;
    --validation_text_font_color: #5707A6;
    --validation_text_font_size: 75px;
    --validation_text_border_size: 0px;
    --validation_text_border_color: #C91313;
    --confirmation_text_font_color: #5707A6;
    --confirmation_text_font_size: 50px;
    --confirmation_text_border_size: 0px;
    --confirmation_text_border_color: #C91313;
    --flag_size: 100px;
    --flag_border_color: #000000;
    --flag_border_size: 0px;
    --rectangle_button_size: 200px;
    --rectangle_button_color: darkcyan;
    --rectangle_button_border_size: 0px;
    --rectangle_button_border_color: black;
    --rectangle_button_image_size: 200px;
    --rectangle_button_text_size: 30px;
    --rectangle_button_text_color: #008B8B;
    --rectangle_button_text_border_size: 0px;
    --rectangle_button_text_border_color: black;
    --square_button_size: 200px;
    --square_button_color: #FFD700;
    --square_button_border_size: 5px;
    --square_button_border_color: #00AAFF;
    --square_button_image_size: 120px;
    --square_button_text_size: 50px;
    --square_button_text_color: #5707A6;
    --square_button_text_border_size: 0px;
    --square_button_text_border_color: #C91313;
    --square_button_height: 150px;
    --square_button_width: 500px;
    --square_cancel_button_height: 150px;
    --square_cancel_button_width: 500px;
    --square_cancel_button_color: #FFD700;
    --square_cancel_button_border_size: 5px;
    --square_cancel_button_border_color: #00AAFF;
    --square_cancel_button_image_size: 120px;
    --square_cancel_button_text_size: 50px;
    --square_cancel_button_text_color: #5707A6;
    --square_cancel_button_text_border_size: 0px;
    --square_cancel_button_text_border_color: #C91313;
    --validation_button_height: 200px;
    --validation_button_width: 800px;
    --validation_button_color: #FFD700;
    --validation_button_border_size: 5px;
    --validation_button_border_color: #00AAFF;
    --validation_button_text_size: 50px;
    --validation_button_text_color: #5707A6;
    --validation_button_text_border_size: 0px;
    --validation_button_text_border_color: #C91313;
    --background_color: #b6f5f5;
    --title_background_color: #008B8B;
    --title_background_height: 200px;
    --title_font_color: #FFFFFF;
    --title_font_size: 75px;
    --title_font_border_size: 0px;
    --title_font_border_color: black;
    --text_up_background_color: #008B8B;
    --text_up_font_color: #FFFFFF;
    --text_up_font_size: 75px;
    --text_up_font_border_size: 0px;
    --text_up_font_border_color: black;
    --text_down_background_color: #008B8B;
    --text_down_font_color: #FFFFFF;
    --text_down_font_size: 75px;
    --text_down_font_border_size: 0px;
    --text_down_font_border_color: black;
    --validation_button_picture_size: 200px;
    --patient_border_color: #C91313;
    --patient_button_border_color: #00AAFF;
    --scan_explanation_background_color: #000000;
    --validation_text_background_color: #000000;
    --confirmation_text_background_color: #000000;
    --circle_button_text_background_color: #000000;
    --square_button_text_background_color: #000000;
    --square_cancel_button_text_background_color: #000000;
    --validation_button_text_background_color: #000000;
}
