:root {
    --background_color: #b6f5f5;
    --title_background_color: #FA0019;
    --title_background_height: 200px;
    --title_font_color: #0D09F6;
    --title_font_size: 100px;
    --title_font_border_size: 5px;
    --title_font_border_color: #00FF33;
    --text_up_background_color: #FA0019;
    --text_up_font_color: #0D09F6;
    --text_up_font_size: 75px;
    --text_up_font_border_size: 2px;
    --text_up_font_border_color: #00FF33;
    --text_down_background_color: #FBC1C1;
    --text_down_font_color: #0D09F6;
    --text_down_font_size: 90px;
    --text_down_font_border_size: 2px;
    --text_down_font_border_color: #00FF33;
    --subtitle_background_color: #008B8B;
    --subtitle_background_height: 200px;
    --subtitle_font_color: #0D09F6;
    --subtitle_font_size: 50px;
    --subtitle_font_border_size: 2px;
    --subtitle_font_border_color: #00FF33;
    --calling_font_size: 76px;
    --calling_font_color: #0D09F6;
    --calling_font_border_size: 2px;
    --calling_font_border_color: #00FF33;
    --calling_background_color: #FBC1C1;
    --ongoing_background_color: #FBC1C1;
    --ongoing_font_color: #0D09F6;
    --ongoing_font_size: 75px;
    --ongoing_font_border_size: 0px;
    --ongoing_font_border_color: #00FF33;
    --announce_main_color: #FA0019;
    --announce_secondary_color: #9FF594;
    --announce_third_color: #0D09F6;
    --announce_fourth_color: #FBC1C1;
    --announce_border_color: #00FF33;
    --next_patients_font_color: #0D09F6;
    --next_patients_font_size: 100px;
    --next_patients_font_border_size: 2px;
    --next_patients_font_border_color: #00FF33;
    --next_patients_background_color: #FA0019;
}
