:root {
    --scan_explanation_font_size: 50px;
    --scan_explanation_font_color: #986767;
    --scan_explanation_border_size: 2px;
    --scan_explanation_border_color: #030303;
    --patient_title_font_size: 80px;
    --patient_title_font_color: #4BE76A;
    --patient_title_border_size: 2px;
    --patient_title_border_color: #131839;
    --subtitle_font_size: 50px;
    --subtitle_font_color: #4BE76A;
    --subtitle_border_size: 2px;
    --subtitle_border_color: #A39F9F;
    --subtitle_no_activity_font_size: 80px;
    --subtitle_no_activity_font_color: #4BE76A;
    --subtitle_no_activity_border_size: 0;
    --subtitle_no_activity_border_color: black;
    --subtitle_specific_message_font_size: 40;
    --subtitle_specific_message_font_color: #4BE76A;
    --subtitle_specific_message_border_size: 0;
    --subtitle_specific_message_border_color: black;
    --patient_title_background_color: #986767;
    --subtitle_background_color: #986767;
    --subtitle_no_activity_background_color: #986767;
    --subtitle_specific_message_background_color: #986767;
    --patient_main_color: #986767;
    --patient_secondary_color: #DACF6C;
    --patient_third_color: #4BE76A;
    --circle_button_size: 200px;
    --circle_button_color: #986767;
    --circle_button_image_size: 200px;
    --circle_button_text_size: 30px;
    --circle_button_text_color: #986767;
    --circle_button_border_size: 10px;
    --circle_button_border_color: #E31C1C;
    --circle_button_text_border_size: 0px;
    --circle_button_text_border_color: black;
    --patient_title_background_height: 150px;
    --subtitle_background_height: 100px;
    --validation_text_font_color: #986767;
    --validation_text_font_size: 75px;
    --validation_text_border_size: 0px;
    --validation_text_border_color: #000000;
    --confirmation_text_font_color: #986767;
    --confirmation_text_font_size: 50px;
    --confirmation_text_border_size: 0px;
    --confirmation_text_border_color: #000000;
    --flag_size: 100px;
    --flag_border_color: #000000;
    --flag_border_size: 0px;
    --rectangle_button_size: 200px;
    --rectangle_button_color: darkcyan;
    --rectangle_button_border_size: 0px;
    --rectangle_button_border_color: black;
    --rectangle_button_image_size: 200px;
    --rectangle_button_text_size: 30px;
    --rectangle_button_text_color: #008B8B;
    --rectangle_button_text_border_size: 0px;
    --rectangle_button_text_border_color: black;
    --square_button_size: 200px;
    --square_button_color: #986767;
    --square_button_border_size: 5px;
    --square_button_border_color: #000000;
    --square_button_image_size: 120px;
    --square_button_text_size: 50px;
    --square_button_text_color: #4BE76A;
    --square_button_text_border_size: 0px;
    --square_button_text_border_color: #000000;
    --square_button_height: 150px;
    --square_button_width: 500px;
    --square_cancel_button_height: 150px;
    --square_cancel_button_width: 500px;
    --square_cancel_button_color: #986767;
    --square_cancel_button_border_size: 5px;
    --square_cancel_button_border_color: #000000;
    --square_cancel_button_image_size: 120px;
    --square_cancel_button_text_size: 50px;
    --square_cancel_button_text_color: #4BE76A;
    --square_cancel_button_text_border_size: 0px;
    --square_cancel_button_text_border_color: #000000;
    --validation_button_height: 200px;
    --validation_button_width: 800px;
    --validation_button_color: #986767;
    --validation_button_border_size: 5px;
    --validation_button_border_color: #000000;
    --validation_button_text_size: 50px;
    --validation_button_text_color: #4BE76A;
    --validation_button_text_border_size: 0px;
    --validation_button_text_border_color: black;
}
