:root {
    --circle_button_size: 200px;
    --circle_button_color: #176B52;
    --circle_button_border_size: 0px;
    --circle_button_border_color: #18332F;
    --circle_button_image_size: 200px;
    --circle_button_text_size: 30px;
    --circle_button_text_color: #18332F;
    --circle_button_text_border_size: 0px;
    --circle_button_text_border_color: black;
    --circle_button_text_background_color: transparent;
    --square_button_height: 150px;
    --square_button_width: 500px;
    --square_button_color: #176B52;
    --square_button_border_size: 0px;
    --square_button_border_color: #18332F;
    --square_button_image_size: 200px;
    --square_button_text_size: 30px;
    --square_button_text_color: #FFFFFF;
    --square_button_text_border_size: 0px;
    --square_button_text_border_color: black;
    --square_button_text_background_color: transparent;
    --square_cancel_button_height: 150px;
    --square_cancel_button_width: 500px;
    --square_cancel_button_color: #176B52;
    --square_cancel_button_border_size: 0px;
    --square_cancel_button_border_color: #18332F;
    --square_cancel_button_image_size: 200px;
    --square_cancel_button_text_size: 30px;
    --square_cancel_button_text_color: #FFFFFF;
    --square_cancel_button_text_border_size: 0px;
    --square_cancel_button_text_border_color: black;
    --square_cancel_button_text_background_color: transparent;
    --flag_size: 100px;
    --flag_border_color: #18332F;
    --flag_border_size: 0px;
    --patient_main_color: #008B8B;
    --patient_secondary_color: #F5F8F7;
    --patient_third_color: white;
    --patient_border_color: #000000;
    --patient_button_border_color: #000000;
    --patient_title_font_size: 80px;
    --patient_title_font_color: #FFFFFF;
    --patient_title_border_size: 0px;
    --patient_title_border_color: #18332F;
    --patient_title_background_color: #176B52;
    --patient_title_background_height: 150px;
    --subtitle_font_size: 60px;
    --subtitle_font_color: #FFFFFF;
    --subtitle_border_size: 0px;
    --subtitle_border_color: #18332F;
    --subtitle_background_color: #176B52;
    --subtitle_background_height: 150px;
    --subtitle_no_activity_font_size: 40px;
    --subtitle_no_activity_font_color: #18332F;
    --subtitle_no_activity_border_size: 0px;
    --subtitle_no_activity_border_color: #18332F;
    --subtitle_no_activity_background_color: #FFFFFF;
    --subtitle_specific_message_font_size: 40px;
    --subtitle_specific_message_font_color: #18332F;
    --subtitle_specific_message_border_size: 0px;
    --subtitle_specific_message_border_color: #18332F;
    --subtitle_specific_message_background_color: #FFFFFF;
    --scan_explanation_font_size: 50px;
    --scan_explanation_font_color: #18332F;
    --scan_explanation_border_size: 0px;
    --scan_explanation_border_color: #18332F;
    --scan_explanation_background_color: #FFFFFF;
    --validation_text_font_color: #18332F;
    --validation_text_font_size: 50px;
    --validation_text_border_size: 0px;
    --validation_text_border_color: #18332F;
    --validation_text_background_color: #FFFFFF;
    --validation_button_height: 150px;
    --validation_button_width: 500px;
    --validation_button_color: #176B52;
    --validation_button_border_size: 0px;
    --validation_button_border_color: #18332F;
    --validation_button_text_size: 40px;
    --validation_button_text_color: #FFFFFF;
    --validation_button_text_border_size: 0px;
    --validation_button_text_border_color: black;
    --validation_button_text_background_color: transparent;
    --validation_button_picture_size: 200px;
    --confirmation_text_font_color: #18332F;
    --confirmation_text_font_size: 50px;
    --confirmation_text_border_size: 0px;
    --confirmation_text_border_color: #18332F;
    --confirmation_text_background_color: #FFFFFF;
}
