:root {
    --background_color: #b6f5f5;
    --title_background_color: #1C1213;
    --title_background_height: 200px;
    --title_font_color: #FFFFFF;
    --title_font_size: 100px;
    --title_font_border_size: 5px;
    --title_font_border_color: #858585;
    --text_up_background_color: #1C1213;
    --text_up_font_color: #FFFFFF;
    --text_up_font_size: 75px;
    --text_up_font_border_size: 2px;
    --text_up_font_border_color: #858585;
    --text_down_background_color: #C9C5C5;
    --text_down_font_color: #FFFFFF;
    --text_down_font_size: 90px;
    --text_down_font_border_size: 2px;
    --text_down_font_border_color: #858585;
    --subtitle_background_color: #008B8B;
    --subtitle_background_height: 200px;
    --subtitle_font_color: #FFFFFF;
    --subtitle_font_size: 50px;
    --subtitle_font_border_size: 2px;
    --subtitle_font_border_color: #858585;
    --calling_font_size: 76px;
    --calling_font_color: #FFFFFF;
    --calling_font_border_size: 2px;
    --calling_font_border_color: #858585;
    --calling_background_color: #C9C5C5;
    --ongoing_background_color: #C9C5C5;
    --ongoing_font_color: #FFFFFF;
    --ongoing_font_size: 75px;
    --ongoing_font_border_size: 0px;
    --ongoing_font_border_color: #858585;
    --announce_main_color: #1C1213;
    --announce_secondary_color: #858585;
    --announce_third_color: #FFFFFF;
    --announce_fourth_color: #C9C5C5;
    --announce_border_color: #858585;
}
