:root {
    --phone_title_font_color: #FFFFFF;
    --phone_title_font_size: 25px;
    --phone_title_background_color: #FFD700;
    --phone_title_background_height: 5px;
    --phone_title_border_color: #C91313;
    --phone_title_border_size: 0px;
    --phone_line_1_font_color: #FFFFFF;
    --phone_line_1_font_size: 20px;
    --phone_line_1_background_color: #008B8B;
    --phone_line_1_background_height: 100px;
    --phone_line_1_border_color: #000000;
    --phone_line_1_border_size: 2px;
    --phone_line1_font_color: #5707A6;
    --phone_line1_font_size: 3000px;
    --phone_line1_background_color: #535032;
    --phone_line1_background_height: 0px;
    --phone_line1_border_color: #C91313;
    --phone_line1_border_size: 0px;
    --phone_line2_font_color: #5707A6;
    --phone_line2_font_size: 3000px;
    --phone_line2_background_color: #535032;
    --phone_line2_background_height: 0px;
    --phone_line2_border_color: #C91313;
    --phone_line2_border_size: 0px;
    --phone_line3_font_color: #5707A6;
    --phone_line3_font_size: 3000px;
    --phone_line3_background_color: #535032;
    --phone_line3_background_height: 0px;
    --phone_line3_border_color: #C91313;
    --phone_line3_border_size: 0px;
    --phone_line4_font_color: #5707A6;
    --phone_line4_font_size: 3000px;
    --phone_line4_background_color: #535032;
    --phone_line4_background_height: 0px;
    --phone_line4_border_color: #C91313;
    --phone_line4_border_size: 0px;
    --phone_line5_font_color: #5707A6;
    --phone_line5_font_size: 3000px;
    --phone_line5_background_color: #535032;
    --phone_line5_background_height: 0px;
    --phone_line5_border_color: #C91313;
    --phone_line5_border_size: 0px;
    --phone_line6_font_color: #5707A6;
    --phone_line6_font_size: 3000px;
    --phone_line6_background_color: #535032;
    --phone_line6_background_height: 0px;
    --phone_line6_border_color: #C91313;
    --phone_line6_border_size: 0px;
    --phone_specific_message_font_color: #5707A6;
    --phone_specific_message_font_size: 50px;
    --phone_specific_message_background_color: #535032;
    --phone_specific_message_background_height: 5px;
    --phone_specific_message_border_color: #C91313;
    --phone_specific_message_border_size: 0px;
    --phone_main_color: #FFD700;
    --phone_secondary_color: #535032;
    --phone_third_color: #5707A6;
    --phone_your_turn_line1_font_color: #0D09F6;
    --phone_your_turn_line1_font_size: 300px;
    --phone_your_turn_line1_background_color: #FA0019;
    --phone_your_turn_line1_background_height: 10px;
    --phone_your_turn_line1_border_color: #00FF33;
    --phone_your_turn_line1_border_size: 0px;
    --phone_your_turn_line2_font_color: #0D09F6;
    --phone_your_turn_line2_font_size: 3000px;
    --phone_your_turn_line2_background_color: #FA0019;
    --phone_your_turn_line2_background_height: 10px;
    --phone_your_turn_line2_border_color: #00FF33;
    --phone_your_turn_line2_border_size: 0px;
    --phone_your_turn_line3_font_color: #0D09F6;
    --phone_your_turn_line3_font_size: 3000px;
    --phone_your_turn_line3_background_color: #FA0019;
    --phone_your_turn_line3_background_height: 10px;
    --phone_your_turn_line3_border_color: #00FF33;
    --phone_your_turn_line3_border_size: 0px;
    --phone_your_turn_line4_font_color: #0D09F6;
    --phone_your_turn_line4_font_size: 3000px;
    --phone_your_turn_line4_background_color: #FA0019;
    --phone_your_turn_line4_background_height: 10px;
    --phone_your_turn_line4_border_color: #00FF33;
    --phone_your_turn_line4_border_size: 2px;
    --phone_your_turn_line5_font_color: #0D09F6;
    --phone_your_turn_line5_font_size: 3000px;
    --phone_your_turn_line5_background_color: #FA0019;
    --phone_your_turn_line5_background_height: 10px;
    --phone_your_turn_line5_border_color: #00FF33;
    --phone_your_turn_line5_border_size: 2px;
    --phone_your_turn_line6_font_color: #0D09F6;
    --phone_your_turn_line6_font_size: 3000px;
    --phone_your_turn_line6_background_color: #FA0019;
    --phone_your_turn_line6_background_height: 10px;
    --phone_your_turn_line6_border_color: #00FF33;
    --phone_your_turn_line6_border_size: 2px;
    --phone_lines_font_size: 3000px;
    --phone_lines_font_weight: 60px;
    --phone_title_font_weight: 700;
    --phone_line1_font_weight: 60;
    --phone_line2_font_weight: 60;
    --phone_line3_font_weight: 60;
    --phone_line4_font_weight: 60;
    --phone_line5_font_weight: 60;
    --phone_line6_font_weight: 60;
    --phone_specific_message_font_weight: 400;
    --phone_your_turn_line1_font_weight: 400;
    --phone_your_turn_line2_font_weight: 400;
    --phone_your_turn_line4_font_weight: 400;
    --phone_your_turn_line5_font_weight: 400;
    --phone_your_turn_line6_font_weight: 400;
    --phone_border_color: #C91313;
    --phone_your_turn_third_color: #0D09F6;
    --phone_your_turn_border_color: #00FF33;
    --phone_your_turn_lines_font_size: 30px;
    --phone_your_turn_lines_font_weight: 300px;
    --phone_your_turn_main_color: #FA0019;
}
