:root {
    --announce_main_color: #008B8B;
    --announce_secondary_color: #b6f5f5;
    --announce_third_color: #FFFFFF;
    --announce_fourth_color: #008B8B;
    --announce_border_color: #000000;
    --title_background_color: #008B8B;
    --title_background_height: 200px;
    --title_font_color: #FFFFFF;
    --title_font_size: 75px;
    --title_font_border_size: 0px;
    --title_font_border_color: black;
    --subtitle_font_color: #FFFFFF;
    --subtitle_font_size: 75px;
    --subtitle_font_border_size: 0px;
    --subtitle_font_border_color: black;
    --text_up_background_color: #008B8B;
    --text_up_font_color: #FFFFFF;
    --text_up_font_size: 75px;
    --text_up_font_border_size: 0px;
    --text_up_font_border_color: black;
    --calling_font_size: 75px;
    --calling_font_color: #FFFFFF;
    --calling_font_border_size: 0px;
    --calling_font_border_color: black;
    --calling_background_color: 008B8B;
    --text_down_background_color: #008B8B;
    --text_down_font_color: #FFFFFF;
    --text_down_font_size: 75px;
    --text_down_font_border_size: 0px;
    --text_down_font_border_color: black;
    --ongoing_background_color: #008B8B;
    --ongoing_font_color: #FFFFFF;
    --ongoing_font_size: 75px;
    --ongoing_font_border_size: 0px;
    --ongoing_font_border_color: black;
    --next_patients_font_color: #FFFFFF;
    --next_patients_font_size: 50px;
    --next_patients_font_border_size: 0px;
    --next_patients_font_border_color: black;
    --next_patients_background_color: #008B8B;
}
