body {
    background-image: url('/static/images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

#right_page {
    height: 100%;
    background-color: white;
    margin: 10px;
}

.btn-large {
    height: 200px;  /* Hauteur pour carré */
    width: 200px;    /* Largeur pour ajuster */
    background-size: contain; /* Changez de cover à contain pour voir toute l'image */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    background-position: center; /* Centre l'image dans le bouton */
    overflow: hidden; /* Empêche le débordement de contenu */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Couleur du texte */
    font-size: 24px; /* Taille du texte */
    font-weight: 700;
    line-height: 1.2;
    color: white; 
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 1px;
}

.btn-test{
    height: 100px;  /* Hauteur pour carré */
    width: 100%;    /* Largeur pour ajuster */
    background-size: contain; /* Changez de cover à contain pour voir toute l'image */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    background-position: center; /* Centre l'image dans le bouton */
    overflow: hidden; /* Empêche le débordement de contenu */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Couleur du texte */
    font-size: 24px; /* Taille du texte */
    font-weight: 700;
    line-height: 1.2;
    color: white; 
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 1px;
}

.div-btn-large {
    display: flex; 
    justify-content: center; 
    height: 100%;
}

.btn-country{
    height: 50px;  /* Hauteur pour carré */
    width: 50px;    /* Largeur pour ajuster */
    background-color: rgba(255, 255, 255, 0);
    border: none;
    margin: 10px;
}

.btn-country:hover{
    background-color: rgba(255, 255, 255, 0);
}


.button-text-style {
width: 100%;
background-color: rgba(255, 255, 255, 0.5); /* Fond blanc semi-transparent */
backdrop-filter: blur(1px); /* Effet de flou */
padding: 10px; /* Espacement interne pour mieux voir l'effet */
}
