#div_buttons_parents{
    height: 80%;
    display: flex;
    flex-direction: row;
}

#div_buttons_children {
    height: 10%;
    background-color: darkcyan;
}

.outer-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: center; /* Center the inner grids */
}

.inner-grid-container {
    display: grid;
    gap: 10px;
    justify-items: center; /* Center the items */
}

