#div_buttons_parents{
    height: 80%;
    display: flex;
    flex-direction: row;
}

#div_buttons_children {
    height: 10%;
    background-color: darkcyan;
}

.outer-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: center; /* Center the inner grids */
}

.inner-grid-container {
    display: grid;
    gap: 10px;
    justify-items: center; /* Center the items */
}

.div_text_explanation{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.div_text_explanation_inactive {
    color: #CCCCCC; /* Une couleur grise plus claire pour une meilleure visibilité sur darkcyan */
    text-shadow: 1px 1px 2px black; /* Contour noir pour améliorer la lisibilité */
}