:root {
    --circle_button_size: 200px;
    --circle_button_color: darkcyan;
    --circle_button_border_size: 0px;
    --circle_button_border_color: black;
    --circle_button_image_size: 200px;
    --circle_button_text_size: 30px;
    --circle_button_text_color: darkcyan;
    --circle_button_text_border_size: "0px";
    --circle_button_text_border_color: "black";
    --square_button_width: 500px;
    --square_button_height: 150px;
    --square_button_color: darkcyan;
    --square_button_border_size: 0px;
    --square_button_border_color: black;
    --square_button_image_size: 200px;
    --square_button_text_size: 30px;
    --square_button_text_color: white;
    --square_button_text_border_size: "0px";
    --square_button_text_border_color: "black";
    --square_cancel_button_width: 500px;
    --square_cancel_button_height: 150px;
    --square_cancel_button_color: darkcyan;
    --square_cancel_button_border_size: 0px;
    --square_cancel_button_border_color: black;
    --square_cancel_button_image_size: 200px;
    --square_cancel_button_text_size: 30px;
    --square_cancel_button_text_color: darkcyan;
    --square_cancel_button_text_border_size: "0px";
    --square_cancel_button_text_border_color: "black";      
    --scan_explanation_font_size: 80px;
    --scan_explanation_font_color: #008B8B;
    --scan_explanation_border_size: 2px;
    --scan_explanation_border_color: #black;
    --patient_title_font_size: 80px;
    --patient_title_font_color: #FFFFFF;
    --patient_title_border_size: 2px;
    --patient_title_border_color: #000000;
    --patient_title_background_color: #008B8B;
    --patient_title_background_height: 200px;
    --subtitle_font_size: 50px;
    --subtitle_font_color: #FFFFFF;
    --subtitle_border_size: 0px;
    --subtitle_border_color: black;
    --subtitle_no_activity_font_size: 40px;
    --subtitle_no_activity_font_color: white;
    --subtitle_no_activity_border_size: 0;
    --subtitle_no_activity_border_color: black;
    --subtitle_specific_message_font_size: 40px;
    --subtitle_specific_message_font_color: white;
    --subtitle_specific_message_border_size: 0px;
    --subtitle_specific_message_border_color: black;
    --subtitle_background_height: 200px;
    --subtitle_background_color: #008B8B;
    --subtitle_no_activity_background_color: #008B8B;
    --subtitle_specific_message_background_color: #008B8B;
    --validation_text_font_color:darkcyan;
    --validation_text_font_size: 50px;
    --validation_text_border_size: 0px;
    --validation_text_border_color: black;
    --validation_button_height: 150px;
    --validation_button_width: 500px;
    --validation_button_color: #008B8B;
    --validation_button_border_size: 0px;
    --validation_button_border_color: black;
    --validation_button_text_size: 30px;
    --validation_button_text_color: #008B8B;
    --validation_button_text_border_size: 0px;
    --validation_button_text_border_color: black;   
    --validation_button_picture_size: 200px; 
    --confirmation_text_font_color:darkcyan;
    --confirmation_text_font_size: 50px;
    --confirmation_text_border_size: 0px;
    --confirmation_text_border_color: black;
    --flag_size: 100px;
    --flag_border_color: black;
    --flag_border_size: 0px;
}

html, body {
    height: 100%; /* Assure que le html et body prennent toute la hauteur de l'écran */
    margin: 0; /* Enlève les marges par défaut */
    padding: 0; /* Enlève les paddings par défaut */
    overflow: hidden; /* Empêche le défilement */
}

#main {
    display: flex;
    flex-direction: column; /* Organise les enfants de #main en colonne */
    height: 100%; /* Prend toute la hauteur disponible */
}

#div_title_area {
    height: var(--patient_title_background_height);
    text-align: center;
    font-size: var(--patient_title_font_size);
    font-weight: bold;
    background-color: var(--patient_title_background_color);
    color: var(--patient_title_font_color);
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-text-stroke-color: var(--patient_title_border_color);
    -webkit-text-stroke-width: var(--patient_title_border_size);
}

#div_buttons_parents{
    position: relative; 
    justify-content:space-around;
    align-items: center;
    background-color: var(--patient_secondary_color);
}

.div_validation_buttons{
    margin-left: 50px;
}

.cancel_button_container {
    position: absolute;
    bottom: 10px; /* Ajustez cette valeur selon vos besoins */
    right: 10px; /* Ajustez cette valeur selon vos besoins */
}

.buttons_children_active {
    height: var(--subtitle_background_height);
    display: flex;        /* Utilise Flexbox */
    align-items: center;  /* Centre le contenu verticalement */
    justify-content: center; /* Centre le contenu horizontalement */
    background-color: var(--subtitle_background_color);
}

.buttons_children_inactive {
    height: var(--subtitle_background_height);
    display: flex;        /* Utilise Flexbox */
    align-items: center;  /* Centre le contenu verticalement */
    justify-content: center; /* Centre le contenu horizontalement */
    background-color: var(--subtitle_no_activity_background_color);
}

.buttons_children_specific_message {
    height: var(--subtitle_background_height);
    display: flex;        /* Utilise Flexbox */
    align-items: center;  /* Centre le contenu verticalement */
    justify-content: center; /* Centre le contenu horizontalement */
    background-color: var(--subtitle_specific_message_background_color);
}

#div_intermediaire {
    height: 2%;
    background-color: darkcyan;
}

.div_bloc_activity{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div_square_bloc_activity{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.div_circle_buttons {
    width: var(--circle_button_size);  
    height: var(--circle_button_size);
    margin: 10px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px #888888;
    text-align: center;
    border-color: var(--circle_button_border_color);
    border-width: var(--circle_button_border_size);
    border-style: solid;
}

.div_square_bloc_activity {
    width: var(--square_button_width);  
    height: var(--square_button_height);
    margin: 10px;    
    border-radius: 5%;
    border-color: var(--square_button_border_color);
    border-width: var(--square_button_border_size);
    border-style: solid;
    box-shadow: 5px 5px 5px #888888;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.div_square_bloc_activity:hover {
    box-shadow: 0px 0px 0px #888888;
    scale: 0.95;
}

.div_square_bloc_cancel {
    width: var(--square_cancel_button_width);  
    height: var(--square_cancel_button_height);
    background-color: var(--square_cancel_button_color);
    margin: 10px;    
    border-radius: 5%;
    border-color: var(--square_cancel_button_border_color);
    border-width: var(--square_cancel_button_border_size);
    border-style: solid;
    box-shadow: 5px 5px 5px #888888;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.div_square_bloc_cancel:hover {
    box-shadow: 0px 0px 0px #888888;
    scale: 0.95;
}

.grid_square_cancel_buttons {
    display: grid;
    grid-template-columns: var(--square_cancel_button_image_size) 1fr;
    align-items: center;
    gap: 8px; /* Espace entre l'image et le texte */
}

.img_square_cancel_bouton {
    max-width: var(--square_cancel_button_image_size);
    height: auto;
    object-fit: contain;
}

.div_text_cancel_button_square_active{
    font-size: var(--square_cancel_button_text_size);
    color: var(--square_cancel_button_text_color);
    font-weight: bold;
    -webkit-text-stroke-color: var(--square_cancel_button_text_border_color);
    -webkit-text-stroke-width: var(--square_cancel_button_text_border_size);
}


.div_circle_buttons:hover {
    box-shadow: 0px 0px 0px #888888;
    scale: 0.95;
}

.grid_square_buttons {
    display: grid;
    grid-template-columns: var(--square_button_image_size) 1fr;
    align-items: center;
    gap: 8px; /* Espace entre l'image et le texte */
}

.div_button_active {
    background-color:var(--circle_button_color);
}

.div_square_button_active {
    background-color:var(--square_button_color);
}

.div_button_inactive {
    background-color:rgb(102, 105, 105);
}

.div_square_button_inactive {
    background-color:rgb(102, 105, 105);
}

.img_btn {
    height: var(--circle_button_image_size);
}

.img_square_button {
    max-width: var(--square_button_image_size);
    height: auto;
    object-fit: contain;
}


.img_btn_inactive {
    filter: grayscale(100%);
}

.div_text_button{
    text-align: center;
    font-size: var(--circle_button_text_size);
    font-weight: bold;
    -webkit-text-stroke-color: var(--circle_button_text_border_color);
    -webkit-text-stroke-width: var(--circle_button_text_border_size);
}

.div_text_button_active{
    color: var(--circle_button_text_color)
}


.div_text_button_square_active{
    font-size: var(--square_button_text_size);
    color: var(--square_button_text_color);
    font-weight: bold;
    -webkit-text-stroke-color: var(--square_button_text_border_color);
    -webkit-text-stroke-width: var(--square_button_text_border_size);
}

.div_text_button_inactive{
    color: rgb(102, 105, 105);
}

.div_square_buttons .div_text_button_inactive {
    color: white;
}

.div_summary{
    display: flex;
    flex-direction: column;
}

#div_qr_code{
    display: flex;
    width: 50%;
    text-align: center;
    padding-top: 1%;
}

.div_validation_one_button{
    background-color:var(--validation_button_color);
    height: var(--validation_button_height);
    width: var(--validation_button_width);
    border-radius: 5%;
    box-shadow: 5px 5px 5px #888888;
    color: var(--validation_button_text_color);
    text-align: center;
    margin: 30px ;
    padding-top: 5px;
    padding-bottom: 5px;
    border-color: var(--validation_button_border_color);
    border-width: var(--validation_button_border_size);
    border-style: solid;
}

.div_validation_one_button_with_img{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:var(--validation_button_color);
    height: var(--validation_button_height);
    width: var(--validation_button_width);
    border-radius: 5%;
    box-shadow: 5px 5px 5px #888888;
    color: var(--validation_button_text_color);
    text-align: center;
    margin: 30px ;
    padding-top: 5px;
    padding-bottom: 5px;
    border-color: var(--validation_button_border_color);
    border-width: var(--validation_button_border_size);
    border-style: solid;
}

.img_for_div_validation {
    max-width: var(--validation_button_picture_size);
    height: auto;
    object-fit: contain;
}

.validation_button {
    font-size: var(--validation_button_text_size);
    font-weight: 500;
    -webkit-text-stroke-color: var(--validation_button_text_border_color);
    -webkit-text-stroke-width: var(--validation_button_text_border_size);
}

#div_call_number{
    text-align: center;
    font-size: var(--validation_text_font_size);
    font-weight: 500;
    color: var(--validation_text_font_color);
    -webkit-text-stroke-color: var(--validation_text_border_color);
    -webkit-text-stroke-width: var(--validation_text_border_size);
}

#conclusion_text{
    text-align: center;
    font-size: var(--confirmation_text_font_size);
    font-weight: 500;
    color: var(--confirmation_text_font_color);
    -webkit-text-stroke-color: var(--confirmation_text_border_color);
    -webkit-text-stroke-width: var(--confirmation_text_border_size);
}

.div_qr_plus_buttons{
    display: grid;
    grid-template-columns: 1fr 2fr;
}


#conclusion_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#div_conclusion_buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#timer_container {
    width: 100%;
    height: 20px;
    background-color: #e0e0e0;
    position: relative;
    margin-top: 10px;
}

#timer_gauge {
    width: 100%;
    height: 100%;
    background-color: #76c7c0;
    transition: width 1s linear;
}

.language-selector {
    position: fixed;
    top: 50%;
    right: 20px;
    z-index: 1000;
    transform: translateY(-50%);
}

.language-selector img {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: var(--flag_size);
    margin: 10px;
    border-width: var(--flag_border_size);
    border-style: solid;
    border-color: var(--flag_border_color);
    border-radius: 50%;
}

.div_explanation {
    font-size: var(--scan_explanation_font_size);
    font-weight: 500;
    color: var(--scan_explanation_font_color);
    text-align: center;
    -webkit-text-stroke-color: var(--scan_explanation_border_color);
    -webkit-text-stroke-width: var(--scan_explanation_border_size);
}

.div_text_explanation{
    text-align: center;
    font-size: var(--subtitle_font_size);
    color: var(--subtitle_font_color);
    font-weight: bold;
    -webkit-text-stroke-color: var(--subtitle_border_color);
    -webkit-text-stroke-width: var(--subtitle_border_size);
}

.div_text_explanation_inactive {
    color: var(--subtitle_no_activity_font_color);
    font-size: var(--subtitle_no_activity_font_size);
    -webkit-text-stroke-color: var(--subtitle_no_activity_border_color);
    -webkit-text-stroke-width: var(--subtitle_no_activity_border_size);  
    font-weight: bold;  
}

.div_text_explanation_specific_message {
    color: var(--subtitle_specific_message_font_color);
    font-size: var(--subtitle_specific_message_font_size);
    -webkit-text-stroke-color: var(--subtitle_specific_message_border_color);
    -webkit-text-stroke-width: var(--subtitle_specific_message_border_size);
    font-weight: bold;
}


