<table id="new_activity_form">
    <thead>
        <tr>
            {% if staff %}
                <th>Membre de l'équipe</th>
            {% endif %}
            <th>Nom</th>
            <th>Lettre</th>
            <th>Horaires</th>
            <th>Message si inactivité</th>
            <th>Message spécifique</th>
            <th>Notification</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {% if staff %}
            <td>
                <div class="input-field col s10">   
                    <select class="form-select" id="staff">
                        {% for member in staff %}
                            <option value="{{member.id}}">{{member.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </td>
            {% endif %}
            <td><input type="text" class="form-control" name="name" value="" id="name"></td>
            <td><input type="text" class="form-control" name="letter" value="" id="letter"></td>
            <td>
                <div class="mb-3 col-10">   
                    <select class="form-select" multiple id="schedules">
                        {% for schedule in schedules %}
                            <option value="{{schedule.id}}"
                                    {% if schedule.id == 1 %}selected{% endif %}>{{schedule.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </td>
            <td>
                <input type="text" class="form-control" name="inactivity_message" id="inactivity_message">
            </td>
            <td>
                <input type="text" class="form-control" name="specific_message" id="specific_message">
            </td>
            <td>
                <p>
                    <label>
                        <input id ="notification" class="form-check-input" type="checkbox">
                        <span></span>
                    </label>
                </p>
            </td>
            <td>
                <button class="btn btn-primary"
                    {% if staff %}
                        hx-target="#div_activity_staff_table"
                    {% else %}
                        hx-target="#div_activity_table"
                    {% endif %}
                    hx-post="/admin/activity/add_new_activity"
                    hx-vals='js:{"name": document.getElementById("name").value, 
                            "letter": document.getElementById("letter").value,
                            "inactivity_message": document.getElementById("inactivity_message").value,
                            "specific_message": document.getElementById("specific_message").value,
                            "notification": document.getElementById("notification").checked,
                            "schedules": getSelectedOptions("schedules"),
                            {% if staff %}
                                "staff_id": getSelectedOptions("staff")
                            {% endif %}
                        }'>
                    Enregistrer
                </button>
            </td>
        </tr>
    </tbody>
</table>