{% extends '/admin/base.html' %}

{% block title %}Activités{% endblock %}

{% block content %}

    <h3>Activités</h3>

    <div class="row">
        <div class="col-12">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" id="activityTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="activity-tab" data-bs-toggle="tab" data-bs-target="#tab_activity" type="button" role="tab" aria-controls="tab_activity" aria-selected="true">Activités</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="schedule-tab" data-bs-toggle="tab" data-bs-target="#tab_horaires" type="button" role="tab" aria-controls="tab_horaires" aria-selected="false">Plages horaires</button>
                </li>
            </ul>

            <!-- Tab content -->
            <div class="tab-content" id="activityTabContent">
                <div class="tab-pane fade show active" id="tab_activity" role="tabpanel" aria-labelledby="activity-tab">
                    {% include 'admin/activity_tab_activity.html' %}
                </div>
                <div class="tab-pane fade" id="tab_horaires" role="tabpanel" aria-labelledby="schedule-tab">
                    {% include 'admin/activity_tab_schedule.html' %}
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Structure -->
    <div class="modal fade" id="modal_delete_activity" tabindex="-1" aria-labelledby="modalDeleteActivityLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal content goes here -->
            </div>
        </div>
    </div>
    
{% endblock %}