<table id="staff_table" class="striped">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Lettre</th>
            <th>Horaires</th>
            <th>Message si inactivité</th>
            <th>Notification</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for activity in activities %}
        <tr>
            <td><input type="text" name="name" value="{{ activity.name }}" id="name-{{ activity.id }}"></td>
            <td><input type="text" name="letter" value="{{ activity.letter }}" id="letter-{{ activity.id }}"></td>
            <td>
                <div class="input-field col s10">   
                    <select multiple id="schedules-{{ activity.id }}">
                        {% for schedule in schedules %}
                            <option value="{{schedule.id}}"
                                    {% if schedule in activity.schedules %}selected{% endif %}>{{schedule.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </td>
            <td>
                <input type="text" name="message" value="{{ activity.inactivity_message }}" id="message-{{ activity.id }}">
            </td>
            <td>
                <p>
                    <label>
                        <input id ="notification-{{ activity.id }}" type="checkbox" {% if activity.notification %}checked{% endif %}>
                        <span></span>
                    </label>
                </p>
            </td>
            <td>
                <button class="btn" 
                    hx-target="#invisible"
                    hx-post="/admin/activity/activity_update/{{ activity.id }}"
                    hx-vals='js:{"name": document.getElementById("name-{{ activity.id }}").value, 
                            "letter": document.getElementById("letter-{{ activity.id }}").value,
                            "message": document.getElementById("message-{{ activity.id }}").value,
                            "notification": document.getElementById("notification-{{ activity.id }}").checked,
                            "schedules": getSelectedOptions("schedules-{{ activity.id }}")
                            }'>
                    Enregistrer
                </button>

                <button class="btn modal-trigger red"
                        hx-get="/admin/activity/confirm_delete/{{ activity.id }}"
                        hx-target="#modal_delete_activity"
                        hx-trigger="click"
                        data-target="modal_delete_activity">
                    Supprimer
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<script>
    // Permet de récuperer les options multiples
    function getSelectedOptions(selectElementId) {
    var selectElement = document.getElementById(selectElementId);
    var selectedValues = [];
    for (var option of selectElement.options) {
        if (option.selected) {
            selectedValues.push(option.value);
        }
    }
    return selectedValues;
}
</script>