<table id="staff_table" class="striped">
    <thead>
        <tr>
            {% if staff %}
                <th>Membre de l'équipe</th>
            {% endif %}
            <th>Nom</th>
            <th>Lettre</th>
            <th>Horaires</th>
            <th>Message si inactivité</th>
            <th>Notification</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for activity in activities %}        
        <tr>
            {% if staff %}
            <td>
                <div class="input-field col s10">   
                    <select class="form-select" id="staff-{{ activity.id }}">
                        {% for member in staff %}
                            <option value="{{member.id}}"
                                {% if member.id == activity.staff_id %}selected{% endif %}>{{member.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </td>
            {% endif %}
            <td><input type="text" class="form-control" name="name" value="{{ activity.name }}" id="name-{{ activity.id }}"></td>
            <td><input type="text" class="form-control" name="letter" value="{{ activity.letter }}" id="letter-{{ activity.id }}"></td>
            <td>
                <div class="mb-3 col-10">
                    <select class="form-select" multiple id="schedules-{{ activity.id }}">
                        {% for schedule in schedules %}
                            <option value="{{schedule.id}}"
                                    {% if schedule in activity.schedules %}selected{% endif %}>
                                {{schedule.name}}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </td>
            <td>
                <input type="text" class="form-control" name="message" value="{{ activity.inactivity_message }}" id="message-{{ activity.id }}">
            </td>
            <td>
                <p>
                    <label>
                        <input id ="notification-{{ activity.id }}" type="checkbox" {% if activity.notification %}checked{% endif %}>
                        <span></span>
                    </label>
                </p>
            </td>
            <td>
                <button class="btn btn-primary" 
                    hx-target="#invisible"
                    hx-post="/admin/activity/activity_update/{{ activity.id }}"
                    hx-vals='js:{"name": document.getElementById("name-{{ activity.id }}").value, 
                            "letter": document.getElementById("letter-{{ activity.id }}").value,
                            "message": document.getElementById("message-{{ activity.id }}").value,
                            "notification": document.getElementById("notification-{{ activity.id }}").checked,
                            "schedules": getSelectedOptions("schedules-{{ activity.id }}")
                            {% if staff %}, "staff_id": document.getElementById("staff-{{ activity.id }}").value{% endif %}
                            }'>
                    Enregistrer
                </button>

                <button class="btn btn-danger"
                        {% if staff %} 
                            hx-get="/admin/activity/confirm_delete/staff/{{ activity.id }}"
                        {% else %}
                            hx-get="/admin/activity/confirm_delete/{{ activity.id }}"
                        {% endif %}
                        hx-target="#modal-htmx"
                        hx-trigger="click"
                        data-bs-target="#modal_delete"
                        data-bs-toggle="modal">
                    Supprimer
                </button>
            </td>
        </tr>

        <script>
            $(document).ready(function() {
            $('#schedules-{{ activity.id }}').select2({
            placeholder: "Choisissez les horaires",
            allowClear: true
                });
            });
        </script>

        {% endfor %}
    </tbody>
</table>


<script>
    // Permet de récuperer les options multiples
    function getSelectedOptions(selectElementId) {
    var selectElement = document.getElementById(selectElementId);
    var selectedValues = [];
    for (var option of selectElement.options) {
        if (option.selected) {
            selectedValues.push(option.value);
        }
    }
    return selectedValues;
}

</script>