<table id="new_activity_form">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Lettre</th>
            <th>Horaires</th>
            <th>Message si inactivité</th>
            <th>Notification</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input type="text" name="name" value="" id="name"></td>
            <td><input type="text" name="letter" value="" id="letter"></td>
            <td>
                <div class="input-field col s12">   
                    <select multiple id="schedules">
                        {% for schedule in schedules %}
                            <option value="{{schedule.id}}"
                                    {% if schedule.id == 1 %}selected{% endif %}>{{schedule.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </td>
            <td>
                <input type="text" name="message" id="message">
            </td>
            <td>
                <p>
                    <label>
                        <input id ="notification" type="checkbox">
                        <span></span>
                    </label>
                </p>
            </td>
            <td>
                <button class="btn" 
                    hx-target="#div_activity_table"
                    hx-post="/admin/activity/add_new_activity"
                    hx-vals='js:{"name": document.getElementById("name").value, 
                            "letter": document.getElementById("letter").value,
                            "message": document.getElementById("message").value,
                            "notification": document.getElementById("notification").checked,
                            "schedules": getSelectedOptions("schedules")
                        }'>
                    Enregistrer
                </button>
            </td>
        </tr>
    </tbody>
</table>