<div class="modal-content">
    <h4>Suppression d'une activité</h4>
    <p>Vous vous appretez à supprimer {{activity.name}} définitivement. Confirmez-vous la suppression ? </p>
    </div>
    <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Annuler</a>
    <a href="#!" 
        class="modal-close waves-effect waves-red btn-flat"
        {% if staff %}
            hx-get="/admin/activity/delete/staff/{{ activity.id }}"
            hx-target="#div_activity_staff_table"
        {% else %}
            hx-get="/admin/activity/delete/{{ activity.id }}"
            hx-target="#div_activity_table"
        {% endif %}>
        Confirmer</a>
    </div>