<div class="table-responsive">
<table id="algo_table" class="table table-striped table-hover align-middle">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Activité</th>
            <th>Priorité</th>
            <th>Min Patients</th>
            <th>Max Patients</th>
            <th>Dépassement Max</th>
            <th>Début</th>
            <th>Fin</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for rule in rules %}
        <tr>
            <td><input type="text" class="form-control" value="{{ rule.name }}" id="name-{{ rule.id }}" aria-label="Nom de la règle"></td>
            <td>
                <div class="input-field">
                <select class="form-select" id="activity-{{ rule.id }}" aria-label="Activité">
                    {% for activity in activities %}
                        <option value="{{ activity.id }}" {{ 'selected' if activity.id == rule.activity.id else '' }}>{{ activity.name }} </option>
                    {% endfor %}
                </select>
                </div>
            </td>
            <td>
                <div class="input-field">
                <select class="form-select" id="priority_level-{{ rule.id }}" aria-label="Niveau de priorité">
                    {% for number in [1, 2, 3, 4, 5] %}
                        <option value="{{ number }}" {{ 'selected' if number == rule.priority_level else '' }}>{{ number }} </option>
                    {% endfor %}
                </select>
                </div>
            </td>
            <td>
                <input type="text" class="form-control" value="{{ rule.min_patients }}" id="min_patients-{{ rule.id }}" aria-label="Nombre minimum de patients">
            </td>
            <td>
                <input type="text" class="form-control" value="{{ rule.max_patients }}" id="max_patients-{{ rule.id }}" aria-label="Nombre maximum de patients">
            </td>
            <td>
                <input type="text" class="form-control" value="{{ rule.max_overtaken }}" id="max_overtaken-{{ rule.id }}" aria-label="Dépassement maximum">
            </td>
            <td><input type="time" class="form-control" value="{{ rule.start_time.strftime('%H:%M') }}" id="start_time-{{ rule.id }}" aria-label="Heure de début"></td>
            <td><input type="time" class="form-control" value="{{ rule.end_time.strftime('%H:%M') }}" id="end_time-{{ rule.id }}" aria-label="Heure de fin"></td>

            <td>
                <button class="btn btn-primary btnSaveLine"
                    hx-target="#invisible"
                    hx-post="/admin/algo/rule_update/{{ rule.id }}"
                    hx-vals='js:{"name": document.getElementById("name-{{ rule.id }}").value,
                                "activity_id": document.getElementById("activity-{{ rule.id }}").value,
                                "priority_level": document.getElementById("priority_level-{{ rule.id }}").value,
                                "min_patients": document.getElementById("min_patients-{{ rule.id }}").value,
                                "max_patients": document.getElementById("max_patients-{{ rule.id }}").value,
                                "max_overtaken": document.getElementById("max_overtaken-{{ rule.id }}").value,
                                "start_time": document.getElementById("start_time-{{ rule.id }}").value,
                                "end_time": document.getElementById("end_time-{{ rule.id }}").value
                            }'>
                    <i class="bi bi-check-lg" aria-hidden="true"></i> Enregistrer
                </button>

                <button class="btn btn-danger"
                    title="Supprimer cette règle"
                    hx-get="/admin/algo/confirm_delete_rule/{{ rule.id }}"
                    hx-target="#modal-htmx"
                    hx-trigger="click"
                    data-bs-target="#modal_delete"
                    data-bs-toggle="modal">
                <i class="bi bi-trash" aria-hidden="true"></i> Supprimer
                </button>
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
