{% extends '/admin/base.html' %}

{% block title %}Algorithme de priorité{% endblock %}

{% block content %}
    <h3>Algorithme de priorité</h3>

    <div id="div_buttons_activate_algo"
        hx-get="/admin/button_des_activate_algo"
        hx-swap="innerHTML"
        hx-trigger="load"
        hx-target="#div_buttons_activate_algo">
        <!-- Bouton activer desactiver Algorithme -->
    </div>

    <div class="col s12">
        Nombre de dépassements d'un patient avant de bloquer l'algorithme :
        <div class="input-field inline">
          <input id="overtaken_limit" type="number" class="form-control" value="{{ algo_overtaken_limit }}">
          <span class="helper-text" data-error="wrong" data-success="right">Permet d'éviter qu'un patient attende trop longtemps</span>
          <button type="button" class="btn btn-primary"
            hx-post="/admin/algo/change_overtaken_limit" 
            hx-target="#invisible" 
            hx-swap="innerHTML"
            hx-trigger="click"
            hx-vals='js:{"overtaken_limit": document.getElementById("overtaken_limit").value}'>
            Valider
        </button>
        </div>
      </div>


    <div id="div_algo_table"
        hx-get="/admin/algo/table"
        hx-trigger="load"
        hx-target="#div_algo_table"
        hx-swap="innerHTML">        
    </div>


    <!-- Ajout nouvelle regle -->
    <a class="btn btn-primary"
        hx-get="/admin/algo/add_rule_form"
        hx-target="#div_add_rule_form"
        hx-swap="innerHTML">
    Ajouter une règle à l'algorithme
    </a>    
    <div id="div_add_rule_form"></div>

    {{ macros.save_restore("algorules", "gf_algo_rules") }}

    <!-- Voie de garage pour les retours htmx qui ne doivent pas être affichés-->
    <div id="invisible" style="display:none;"></div>
    
{% endblock %}