{% extends '/admin/base.html' %}

{% block title %}Algorithme de priorité{% endblock %}

{% block content %}
    <h3>Algorithme de priorité</h3>

    <div id="div_buttons_activate_algo"
        hx-get="/admin/button_des_activate_algo"
        hx-swap="innerHTML"
        hx-trigger="load"
        hx-target="#div_buttons_activate_algo">
        <!-- Bouton activer desactiver Algorithme -->
    </div>


    {{ macros.textbloc_int("algo_overtaken_limit", algo_overtaken_limit, "Nombre de dépassements d'un patient avant de bloquer l'algorithme :")}}


    <div id="div_algo_table"
        hx-get="/admin/algo/table"
        hx-trigger="load"
        hx-target="#div_algo_table"
        hx-swap="innerHTML">        
    </div>


    <!-- Ajout nouvelle regle -->
    <a class="btn btn-primary"
        hx-get="/admin/algo/add_rule_form"
        hx-target="#div_add_rule_form"
        hx-swap="innerHTML">
    Ajouter une règle à l'algorithme
    </a>    
    <div id="div_add_rule_form"></div>

    {{ macros.backup_buttons("algorules", "Règles algorithme") }}

    
{% endblock %}