<button class="btn 
            {% if algo_activated %}disabled{% endif %}"
        hx-get="/admin/algo/toggle_activation?action=activate"
        hx-target="#div_buttons_activate_algo"
        hx-trigger="click"
        hx-swap="innerHTML"
    >Activer l'Algorithme
</button>

<button class="btn red
            {% if not algo_activated %}disabled{% endif %}"
        hx-get="/admin/algo/toggle_activation?action=deactivate"
        hx-target="#div_buttons_activate_algo"
        hx-trigger="click"
        hx-swap="innerHTML"
    >Désactiver l'algorithme
</button>

Pour l'instant pas de redémarrage/arret automatique de l'algo.