<!-- Switch -->
<div class="switch">
    <span>Activer le son pour les annonces : </span>
    <label>
    Muet
    <input id="announce_sound" 
            type="checkbox"
            {% if announce_sound == True %}checked{% endif %}
            hx-post="/admin/update_switch"
            hx-target="#invisible"
            hx-vals='js:{"key": "announce_sound",
                        "value": document.getElementById("announce_sound").checked}'>
    <span class="lever"></span>
    Activé
    </label>
</div>


{{ macros.textbloc_after_call("announce_call_text", announce_call_text, "Appel audio pour annoncer le tour d'un patient") }}