{{ macros.textbloc_int("announce_title_size", announce_title_size, "Taille du texte du titre") }}

{{ macros.textbloc_welcome("announce_title", announce_title, "Texte en haut de la page (Titre)") }}

{{ macros.textbloc_welcome("announce_subtitle", announce_subtitle, "Seconde ligne (Sous-titre)") }}

{{ macros.textbloc_after_call("announce_call_text", announce_call_text, "Texte pour annoncer le tour d'un patient") }}

{{ macros.textbloc_int("announce_call_text_size", announce_call_text_size, "Taille du texte pour annoncer le tour d'un patient") }}

    <!-- Switch -->
    <div class="switch">
        <span>Afficher les patients au comptoir : </span>
        <label>
        Masquer
        <input id="announce_ongoing_display" 
                type="checkbox"
                {% if announce_ongoing_display == True %}checked{% endif %}
                hx-post="/admin/update_switch"
                hx-target="#invisible"
                hx-vals='js:{"key": "announce_ongoing_display",
                            "value": document.getElementById("announce_ongoing_display").checked}'>
        <span class="lever"></span>
        Afficher
        </label>
    </div>

{{ macros.textbloc_after_call("announce_ongoing_text", announce_ongoing_text, "Texte pour indiquer qu'un patient est au comptoir") }}