<!-- Switch -->

<h5>Options générales</h5>

{{ macros.switch("announce_sound", 
            announce_sound, 
            "Activer le son pour les annonces")
}}

<div class="input-field col s12">
    <select
        class="form-select"
        id="announce_player"
        hx-post="/admin/update_select"
        hx-target="#invisible"
        hx-vals='js:{"key": "announce_player", "value": document.getElementById("announce_player").value}'>
        <option value="" disabled selected>Lecteur audio</option>
        <option value="app" {% if announce_player == "app" %}selected{% endif %}>Application (recommandé)</option>
        <option value="web" {% if announce_player == "web" %}selected{% endif %}>Page web (en cas d'échec)</option>
    </select>
    <label>Choix du lecteur audio</label>
</div>

<h5>Alerte sonore avant l'appel</h5>

{{ macros.switch("announce_alert", 
announce_alert, 
            "Activer une alerte avant de lancer l'appel")
}}

Son actuel :

<div id="announce_current_signal"
        hx-get="/admin/announce/audio/current_signal"
        hx-target="#announce_current_signal"
        hx-trigger="load, refresh_sound"
        hx-swap="innerHTML">    
</div>

    <!-- Bouton pour ouvrir la modal -->
    <button 
        class="btn btn-primary"
        hx-get="/admin/announce/gallery_audio"
        hx-target="#modal_display_gallery .modal-content"
        hx-trigger="click"
        data-bs-toggle="modal"
        data-bs-target="#modal_display_gallery">
    Librairie sonore
    </button>

<h5>Texte pour appeler le patient</h5>

{{ macros.textbloc_after_call("announce_call_sound", announce_call_sound, "Appel audio pour annoncer le tour d'un patient") }}

<h5>Choix de la voix</h5>

<div class="input-field col s12">
    <select
        class="form-select"
        id="language_choice"
        hx-post="/admin/announce/select_language_voice"
        hx-target="#div_select_voice"
        hx-trigger="change, load"
        hx-vals='js:{"language_code": document.getElementById("language_choice").value}'>
        {% for language in languages %}
            <option value="{{ language.code }}">{{ language.name }}</option>
        {% endfor %}
    </select>
</div>

<div id="div_select_voice"></div>



<!-- Modal Structure Galerie audio -->
<div class="modal fade" id="modal_display_gallery" tabindex="-1" aria-labelledby="modalAudioGalleryLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Le contenu de la modale sera chargé ici par HTMX -->
        </div>
    </div>
</div>