{% extends '/admin/base.html' %}

{% block title %}Page "Annonce"{% endblock %}

{% block content %}
    <h3>Page "Annonce"</h3>

    
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3"><a class="active" href="#tab_visual">Visuel</a></li>
                <li class="tab col s3"><a href="#tab_audio">Audio</a></li>
            </ul>
        </div>
        <div id="tab_visual" class="col s12">
            {% include 'admin/announce_visual.html' %}
        </div>
        <div id="tab_audio" class="col s12">
            {% include 'admin/announce_audio.html' %}
        </div>
    </div>


        <div>
            <button class="btn"
                    hx-get="/announce/refresh"
                    hx-target="#invisible"                    
                    >Relancer la page "Annonce"</button>
        </div>


    </div>  

        <!-- Voie de garage pour les retours htmx qui ne doivent pas être affichés-->
        <div id="invisible" style="display:none;"></div>


{% endblock %}