<div class="container mt-5">
    <h5>Configurer la clé Google Cloud</h5>
    {% if voice_google_key %}
        <div class="alert alert-success" role="alert">Votre clé Google Cloud est valide.</div>
    {% else %}
        <div class="alert alert-danger" role="alert">Votre clé Google Cloud n'est pas valide ou n'existe pas. Veuillez la télécharger si vous voulez utiliser la fonctionnalité.</div>
    {% endif %}
    <form id="google-key-form" enctype="multipart/form-data" hx-post="/admin/announce/google/add_key" hx-target="#upload-result" hx-swap="innerHTML">
        <div class="form-group">
            <label for="googleKeyFile">Télécharger le fichier JSON de clés Google Cloud :</label>
            <input type="file" class="form-control-file" id="googleKeyFile" name="google_key_file" accept=".json" required>
        </div>
        <button type="submit" class="btn btn-primary">Enregistrer la clé</button>
    </form>
    <div id="upload-result" class="mt-3"></div>


