<div class="row">
    <div class="col-12">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" id="securityTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="gtts-tab" data-bs-toggle="tab" data-bs-target="#tab_gtts" type="button" role="tab" aria-controls="tab_gtts" aria-selected="true">GTTS (local)</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="google-tab" data-bs-toggle="tab" data-bs-target="#tab_google" type="button" role="tab" aria-controls="tab_google" aria-selected="false">Google (cloud)</button>
            </li>
        </ul>

        <!-- Tab content -->
        <div class="tab-content" id="securityTabContent">
            <div class="tab-pane fade show active" id="tab_gtts" role="tabpanel" aria-labelledby="gtts-tab">
                {% include 'admin/announce_voices_gtts.html' %}
            </div>
            <div class="tab-pane fade" id="tab_google" role="tabpanel" aria-labelledby="google-tab">
                {% include 'admin/announce_voices_google.html' %}     
            </div>
        </div>
    </div>
</div>

{% if voice_google_key %}
<div class="input-field col s12">
    <label>Origine de la voix</label>
    <select
        class="form-select"
        id="announce_voice_model"
        hx-post="/admin/announce/save_voice_model"
        hx-target="#invisible"
        hx-vals='js:{"language_id": {{ language.id }}, "voice_model": document.getElementById("announce_voice_model").value}'>
        <option value="" disabled selected>Origine de la voix</option>
        <option value="gtts" {% if language.voice_model == "gtts" %}selected{% endif %}>Locale</option>
        <option value="google" {% if language.voice_model == "google" %}selected{% endif %}>Google Voice</option>
    </select>
</div>
{% endif %}

<div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" 
    id="voice_is_active" 
    {% if language.voice_is_active %} checked {% endif %}
    hx-post="/admin/announce/save_voice_is_active" 
    hx-target="#invisible"
    hx-vals='js:{"language_id": {{ language.id }}, "voice_is_active": document.getElementById("voice_is_active").checked}'>        
    <label class="form-check-label" for="voice_is_active">L'audio de la langue est active</label>
</div>


