{% extends '/admin/base.html' %}

{% block title %}Application{% endblock %}

{% block content %}
    {% import '/admin/macros.html' as macros %}
    <h3>Application</h3>

    <div>
        {{numbering_by_activity}}
        <!-- Switch -->
        <div class="switch">
            <span>Mode de numérotation : </span>
            <label>
            Numérotation globale
            <input id="numbering_by_activity" 
                    type="checkbox"
                    {% if numbering_by_activity == True %}checked{% endif %}
                    hx-post="/admin/app/update_numbering_by_activity"
                    hx-target="#invisible"
                    hx-vals='js:{"numbering_by_activity": document.getElementById("numbering_by_activity").checked}'>
            <span class="lever"></span>
            Par activité
            </label>
        </div>
    </div>  

    A METTRE AILLEURS !!!
    {{ macros.textarea_full("pharmacy_name", pharmacy_name, "Nom de la pharmacie") }}

    {{ macros.textarea_full("network_adress", network_adress, "Adresse du serveur sur le réseau (si fonctionnement en local)") }}

    A FAIRE !!! 
    <div>Ajouter bouton redémarrage du serveur</div>

        <!-- Voie de garage pour les retours htmx qui ne doivent pas être affichés-->
        <div id="invisible" style="display:none;"></div>


{% endblock %}