{% extends '/admin/base.html' %}

{% block title %}Application{% endblock %}

{% block content %}
    {% import '/admin/macros.html' as macros %}
    <h3>Application</h3>
    
    {{ macros.switch("numbering_by_activity", 
                numbering_by_activity, 
                "Mode de numérotation : ", 
                "Numérotation globale", 
                "Par activité")
    }}

    A METTRE AILLEURS !!!
    {{ macros.textarea_full("pharmacy_name", pharmacy_name, "Nom de la pharmacie") }}

    {{ macros.textarea_full("network_adress", network_adress, "Adresse du serveur sur le réseau (si fonctionnement en local)") }}

    A FAIRE !!! 
    <div>Ajouter bouton redémarrage du serveur</div>

        <!-- Voie de garage pour les retours htmx qui ne doivent pas être affichés-->
        <div id="invisible" style="display:none;"></div>


{% endblock %}