<h3>Application</h3>
    
{{ macros.switch("numbering_by_activity", 
            numbering_by_activity, 
            "Numérotation par activité")
}}

{{ macros.switch("is_rabbitmq_active", 
            is_rabbitmq_active, 
            "Utilisation de RabbitMQ")
}}

A METTRE AILLEURS !!!
{{ macros.textarea_full("pharmacy_name", pharmacy_name, "Nom de la pharmacie") }}

{{ macros.textarea_full("network_adress", network_adress, "Adresse du serveur sur le réseau (si fonctionnement en local)") }}

A FAIRE !!! 
<div>Ajouter bouton redémarrage du serveur</div>

