<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <!-- Titre -->
    {% endblock %}

    <!-- WebSocket -->
    <script src="{{ url_for('static', filename='js/libs/socket.io.min.js') }}"></script>

    <!-- HTMX -->
    <script src="{{ url_for('static', filename='js/libs/htmx.min.js') }}"></script>
    <!--<script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/ws.js"></script>-->

    <!-- BoostStrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/libs/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/libs/bootstrap-icons/font/bootstrap-icons.min.css') }}">


    {% if session["admin_colors"] %}
        <link rel="stylesheet" href="../static/css/themes/{{ session['admin_colors'] }}.css">
    {% endif %}

    <!-- Sortable -->
    <script src="{{ url_for('static', filename='js/libs/Sortable.min.js') }}"></script>

    <!-- CSS de la page -->
    <link rel="stylesheet" href="../static/css/admin.css">

    <!-- Select2 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/libs/select2.min.css') }}">

    <!-- JQuery -->
    <script src="{{ url_for('static', filename='js/libs/jquery-3.7.1.min.js') }}"></script>
</head>

<body>
    {% import '/admin/macros.html' as macros %}
    {{ macros.common_js() }}
    
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar structure -->
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-secondary-subtle sidebar">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/admin">
                                Accueil
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">
                                {% if current_user.is_authenticated %}
                                    -= {{ current_user.username | capitalize}} =- <br> Se déconnecter
                                {% else %}
                                    Se déconnecter
                                {% endif %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <hr class="dropdown-divider">
                        </li>
                        <li class="nav-item">
                            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                                <span>Suivi</span>
                            </h6>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/queue">
                                Patients
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/info">
                                Galerie
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/music">
                                Musique
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/algo">
                                Priorités
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/stats">
                                Statistiques
                            </a>
                        </li>
                        <li class="nav-item">
                            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                                <span>Gestion de l'application</span>
                            </h6>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/app">
                                Application
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/data">
                                Données
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/database">
                                Planification
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/patient">
                                Page Patient
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/announce">
                                Page Annonce
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/phone">
                                Page Téléphone
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/security">
                                Sécurité
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/translations">
                                Traduction
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/admin_options">
                                Admin
                            </a>
                        </li>
                        <li class="nav-item">
                            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                                <span>Gestion de la pharmacie</span>
                            </h6>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/staff">
                                Équipe
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/counter">
                                Comptoirs
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/activity">
                                Activités
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        
            <!-- Main content area -->
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                {% block content %}
                <!-- Content specific to each page -->
                {% endblock %}
            </main>
        </div>
    </div>

    {{ macros.modal_delete() }}

    <!-- Voie de garage pour les retours htmx qui ne doivent pas être affichés-->
    <div id="invisible" style="display:none;"></div>

    <footer class="bg-dark text-white mt-5">
        <div class="container py-4">
          <div class="row">
            <div class="col-md-4">
              <h5>PharmaFile</h5>
              <p>Attention, ce site peut exploser à tout moment !</p>
            </div>
            <div class="col-md-4">
              <h5>Autres pages</h5>
              <ul class="list-unstyled">
                <li><a href="/patient" class="text-white">Patient</a></li>
                <li><a href="/display" class="text-white">Affichage</a></li>
                <li><a href="/counter/1" class="text-white">Comptoir</a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <h5>Autres infos</h5>
              <ul class="list-unstyled">
                <li><a href="#" class="text-white">Rien</a></li>
              </ul>
            </div>
          </div>
          <div class="text-center mt-3">
            <small>CC-By-SA</small>
          </div>
        </div>
      </footer>


    <!-- Bootstrap JS (ensure this is after the closing </body> tag to avoid any rendering issues) -->
    <script src="{{ url_for('static', filename='js/libs/bootstrap.bundle.min.js') }}"></script>
    
    <script src="{{ url_for('static', filename='js/libs/select2.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>

    <script src="{{ url_for('static', filename='js/htmx_tables.js') }}"></script>
</body>
</html>