<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <!-- Titre -->
    {% endblock %}
    <!-- WebSocket -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/ws.js"></script>
    <!-- Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Sortable -->
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <!-- CSS de la page -->
    <link rel="stylesheet" href="../static/css/admin.css">
</head>

<body>
    {% import '/admin/macros.html' as macros %}
    <!-- Sidenav structure -->
    <ul id="slide-out" class="sidenav sidenav-fixed">
        <li><a class="sidenav-close" href="/admin"><i class="material-icons">Accueil</i></a></li>
        <li><a class="waves-effect" href="/logout">Se déconnecter</a></li>
        <li><div class="divider"></div></li>
        <li><a class="subheader">Suivi</a></li>
        <li><a class="waves-effect" href="/admin/queue">File d'attente</a></li>
        <li><a class="waves-effect" href="/admin/info">Affichage</a></li>
        <li><a class="waves-effect" href="/admin/algo">Priorités</a></li>
        <li><a class="subheader">Gestion de l'application</a></li>
        <li><a class="waves-effect" href="/admin/app">Application</a></li>
        <li><a class="waves-effect" href="/admin/database">Base de données</a></li>
        <li><a class="waves-effect" href="/admin/patient">Page patient</a></li>
        <li><a class="waves-effect" href="/admin/announce">Page Annonce</a></li>
        <li><a class="waves-effect" href="/admin/phone">Page Téléphone</a></li>
        <li><a class="waves-effect" href="/admin/security">Sécurité</a></li>
        <li><a class="subheader">Gestion de la pharmacie</a></li>
        <li><a class="waves-effect" href="/admin/staff">Equipe</a></li>
        <li><a class="waves-effect" href="/admin/counter">Comptoirs</a></li>
        <li><a class="waves-effect" href="/admin/activity">Activités</a></li>
    </ul>

    <div style="margin-left: 350px;">
        {% block content %}
        <!-- Content specific to each page -->
        {% endblock %}
    </div>


    <script src="../static/js/admin.js"></script>
</body>
</html>