<table id="counter_table" class="striped">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Actes réalisés</th>
        </tr>
    </thead>
    <tbody>
        {% for counter in counters %}
        <tr>
            <td><input type="text" name="name" class="form-control" value="{{ counter.name }}" id="name-{{ counter.id }}"></td>
                            <!-- Affichage des checkboxes pour chaque activité -->
            <td>
                <!-- Affichage des checkboxes pour chaque activité -->
                {% for activity in activities %}
                    <span>
                        <input class="activities-{{ counter.id }} form-check-input" type="checkbox" name="activities" value="{{ activity.id }}" 
                                {% if activity in counter.activities %} checked {% endif %} />
                        <span class="form-check-label">{{ activity.name }}</span>
                    </span>
                {% endfor %}
            </td>
            <td>
                <button class="btn btn-primary" 
                    hx-target="#invisible"
                    hx-include=".activities-{{ counter.id }}"
                    hx-post="/admin/counter/counter_update/{{ counter.id }}"
                    hx-vals='js:{"name": document.getElementById("name-{{ counter.id }}").value 
                            }'>
                    Enregistrer
                </button>

                <button class="btn btn-danger"
                        hx-get="/admin/counter/confirm_delete/{{ counter.id }}"
                        hx-target="#modal-htmx"
                        hx-trigger="click"
                        data-bs-target="#modal_delete"
                        data-bs-toggle="modal">
                    Supprimer
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>