<table id="new_counter_form">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Acte réalisés</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input type="text" name="name" class="form-control" value="" id="name"></td>
            <td>
                {% for activity in activities %}
                <label>
                    <input class="activities form-check-input" type="checkbox" name="activities" checked="checked"  value="{{ activity.id }}" />
                    <span class="form-check-label">{{ activity.name }}</span>
                </label>
                {% endfor %}
            </td>
            <td>
                <button class="btn btn-primary" 
                    hx-target="#div_counter_table"
                    hx-post="/admin/counter/add_new_counter"
                    hx-include=".activities"
                    hx-vals='js:{"name": document.getElementById("name").value     
                        }'>
                    Enregistrer
                </button>
            </td>
        </tr>
    </tbody>
</table>