{% extends '/admin/base.html' %}

{% block title %}Comptoirs{% endblock %}

{% block content %}
    <h3>Comptoirs</h3>

    <div id="div_counter_table"
        hx-get="/admin/counter/table"
        hx-trigger="load"
        hx-target="#div_counter_table"
        hx-swap="innerHTML">        
    </div>

    <!-- Ajout nouveau membre -->
    <a class="waves-effect waves-light btn"
        hx-get="/admin/counter/add_form"
        hx-target="#div_add_counter_form"
        hx-swap="innerHTML">
    Ajouter un comptoir
    </a>    
    <div id="div_add_counter_form"></div>

    <!-- Modal Structure -->
    <div id="modal_delete_counter" class="modal">
    </div>

    <!-- Voie de garage pour les retours htmx qui ne doivent pas être affichés-->
    <div id="invisible" style="display:none;"></div>
    
{% endblock %}