<div class="input-field"></div>
    <select multiple
        class="form-select"
        id="closed-cards-select"
        hx-post="/admin/dashboard/valide_select"
        hx-trigger="change"
        hx-vals='js:{"dashboard_options": Array.from(document.querySelectorAll("#closed-cards-select option:checked")).map(option => option.value)}'
        hx-headers='{"Content-Type": "application/json"}'
        hx_target="#invisible"
        hx-on="htmx:afterRequest: window.location.reload()"
        >
        {% for card in all_dashboardcards %}
            <option class="dashboard_options" value="{{ card.name }}"
            {% if card.visible %} selected {% endif %}
                >{{ card.name }}</option>
        {% endfor %}
    </select>
    <label>Sélectionner les cartes visibles :</label>
</div>

<script>
    $(document).ready(function() {
    $('#closed-cards-select').select2({
        width: '100%',  // Permet au Select2 de s'adapter à la largeur de son conteneur
        placeholder: "Sélectionner des cards à rouvrir",  // Placeholders pour les éléments non sélectionnés
        allowClear: true  // Permet à l'utilisateur de désélectionner facilement
    });
});

</script>