<div class="input-field">
    <select multiple
        class="form-select"
        id="closed-cards-select"
        hx-post="/admin/dashboard/valide_select"
        hx-vals='js:{"dashboard_options": Array.from(document.querySelectorAll("#closed-cards-select option:checked")).map(option => option.value)}'
        hx-headers='{"Content-Type": "application/json"}'
        hx-target="#sortable-dashboard"
        hx-swap="innerHTML"
        hx-on="htmx:afterRequest: htmx.trigger('#sortable-dashboard', 'cardsUpdated')">
        {% for card in all_dashboardcards %}
            <option class="dashboard_options" value="{{ card.name }}"
            {% if card.visible %} selected {% endif %}
                >{{ card.name }}</option>
        {% endfor %}
    </select>
    <label>Sélectionner les cartes visibles :</label>
</div>
<div id="invisible"></div>

<script>
    function initializeSelect2() {
        $('#closed-cards-select').select2({
            width: '100%',
            placeholder: "Sélectionner des cards à rouvrir",
            allowClear: true
        });

        // Ajoute des événements pour détecter la sélection et la désélection
        $('#closed-cards-select').on('select2:select select2:unselect', function (e) {
            // Déclencher HTMX manuellement en simulant le changement d'état
            this.dispatchEvent(new Event('change', { bubbles: true }));
        });
    }

    // Initialisation de Select2 au chargement
    $(document).ready(function() {
        initializeSelect2();
    });

    // Réinitialisation de Select2 après un swap HTMX
    document.body.addEventListener('htmx:afterSwap', function(evt) {
        if (evt.detail.target.id === "closed-cards-select") {
            initializeSelect2();
        }
    });
</script>
