{% extends '/admin/base.html' %}

{% block title %}Admin - Base de données{% endblock %}

{% block content %}
    <h3>Base de données</h3>

    {{ macros.switch("cron_delete_patient_table_activated", 
            cron_delete_patient_table_activated, 
            "Vider automatiquement la table des patients une fois par jour")
    }}

    {{ macros.textbloc_hour("cron_delete_patient_table_hour", 
            cron_delete_patient_table_hour, 
            "Heure de la suppression")
    }}

    <div id="div_schedule_tasks_list"
        hx-get="/admin/database/schedule_tasks_list"
        hx-trigger="load, refresh_schedule_tasks_list"
        hx-target="#div_schedule_tasks_list"
        hx-swap="innerHTML">
    </div>


{% endblock %}