{% extends '/admin/base.html' %}

{% block title %}Admin - Planifications{% endblock %}

{% block content %}
    <h3>Planifications</h3>

    <h5>Liste des patients</h5>

    {{ macros.switch("cron_delete_patient_table_activated", 
            cron_delete_patient_table_activated, 
            "Vider automatiquement la table des patients une fois par jour")
    }}

    {{ macros.switch("cron_transfer_patient_to_history", 
        cron_transfer_patient_to_history, 
        "Copier les patients du jour dans l'historique (visée statistique)")
    }}

    {{ macros.textbloc_hour("cron_delete_patient_table_hour", 
            cron_delete_patient_table_hour, 
            "Heure de la suppression")
    }}


    <h5>Répertoire des sons</h5>

    {{ macros.switch("cron_delete_announce_calls_activated", 
        cron_delete_announce_calls_activated, 
        "Vider automatiquement le répertoire contenant les sons une fois par jour")
    }}

    {{ macros.textbloc_hour("cron_delete_announce_calls_hour", 
        cron_delete_announce_calls_hour, 
        "Heure de la suppression")
    }}

    <div id="div_schedule_tasks_list"
        hx-get="/admin/database/schedule_tasks_list"
        hx-trigger="load, refresh_schedule_tasks_list"
        hx-target="#div_schedule_tasks_list"
        hx-swap="innerHTML">
    </div>


{% endblock %}