{% extends '/admin/base.html' %}

{% block title %}Galeries{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/gallery.css') }}">

    <h3>Galeries</h3>
    
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3"><a class="active" href="#tab_general">Paramètres</a></li>
                <li class="tab col s3"><a href="#tab_folders">Galeries</a></li>
            </ul>
        </div>
        <div id="tab_general" class="col s12">
            {% include 'admin/gallery_general.html' %}
        </div>
        <div id="tab_folders" class="col s12">
            {% include 'admin/gallery_folders.html' %} 
        </div>
    </div>
        

    <!-- Voie de garage pour les retours htmx qui ne doivent pas être affichés-->
    <div id="invisible" style="display:none;"></div>
    
{% endblock %}