
    <!-- Switch -->
    <div class="switch">
        <span>Afficher les images : </span>
        <label>
        Non
        <input id="announce_infos_display" 
                type="checkbox"
                {% if announce_infos_display == True %}checked{% endif %}
                hx-post="/admin/update_switch"
                hx-target="#invisible"
                hx-vals='js:{"key": "announce_infos_display",
                            "value": document.getElementById("announce_infos_display").checked}'>
        <span class="lever"></span>
        Oui
        </label>
    </div>

    <div>
        <span>Temps d'affichage des images : </span>
        <input type="text" name="call_number" value="{{announce_infos_display_time}}" id="announce_infos_display_time">
        <button
        class="btn"
        hx-post="/admin/update_input"
        hx-target="#invisible"
        hx-vals='js:{"key": "announce_infos_display_time",
                    "value": document.getElementById("announce_infos_display_time").value}'>
                Enregistrer</button>
    </div>

    <div class="input-field col s12">
        <select
          id="announce_infos_transition"
          hx-post="/admin/update_select"
          hx-target="#invisible"
          hx-vals='js:{"key": "announce_infos_transition", "value": document.getElementById("announce_infos_transition").value}'>
          <option value="" disabled selected>Choisir le mode de transition</option>
          <option value="slide" {% if announce_infos_transition == "slide" %}selected{% endif %}>Slide</option>
          <option value="fade" {% if announce_infos_transition == "fade" %}selected{% endif %}>Fade</option>
          <option value="cube" {% if announce_infos_transition == "cube" %}selected{% endif %}>Cube</option>
          <option value="coverflow" {% if announce_infos_transition == "coverflow" %}selected{% endif %}>coverflow</option>
          <option value="flip" {% if announce_infos_transition == "flip" %}selected{% endif %}>flip</option>
          <option value="cards" {% if announce_infos_transition == "cards" %}selected{% endif %}>cards</option>
        </select>
        <label>Mode de transition</label>
      </div>


    <div>
        <button class="btn"
                hx-get="/announce/refresh"
                hx-target="#invisible"                    
                >Relancer la page "Annonce"</button>
    </div>
