{% if images | length == 0 %} 
    <p>Aucune image dans la galerie.</p> 
{% else %}
    {% for image in images %}
        <div class="thumbnail">
            {% if image.thumbnail %}
                <img src="{{ url_for('static', filename='galleries/' ~ gallery ~ '/thumbnails/' ~ image.thumbnail) }}"
                     alt="{{ image['filename'] }}" loading="lazy"
                     data-full-src="{{ url_for('static', filename='galleries/' ~ gallery ~ '/' ~ image['filename']) }}">
            {% else %}
                <img src="{{ url_for('static', filename='galleries/' ~ gallery ~ '/' ~ image['filename']) }}"
                     alt="{{ image['filename'] }}" loading="lazy"
                     data-full-src="{{ url_for('static', filename='galleries/' ~ gallery ~ '/' ~ image['filename']) }}">
            {% endif %}
            <div class="details">
                <p>{{ image['filename'] }}</p>
                <p>{{ image['date'] }}</p>
                <button
                    class="btn btn-danger"
                    hx-delete="{{ url_for('admin_gallery.delete_image', gallery=gallery, image=image['filename']) }}" 
                    hx-target="#image-list" 
                    hx-swap="innerHTML">Supprimer</button>
            </div>
        </div>
    {% endfor %}
{% endif %}

