<h4>{{ gallery }}</h4>

<div id="image-list"
    hx-get="/admin/gallery/images_list/{{ gallery }}"
    hx-trigger="load"
    hx-target="#image-list"
    hx-swap="innerHTML">
</div>


<form 
    hx-post="{{ url_for('admin_gallery.upload_gallery', name=gallery) }}" 
    hx-target="#image-list"
    enctype="multipart/form-data">
    <input id="file-input" type="file" name="photos" multiple>
    <button id="upload-button" class="btn btn-primary"disabled type="submit">Mettre en ligne</button>
</form>

<a href="{{ url_for('admin_gallery.delete_gallery', name=gallery) }}" 
    class="btn btn-danger"
    hx-delete="{{ url_for('admin_gallery.delete_gallery', name=gallery) }}" 
    hx-confirm="Supprimer la galerie « {{ gallery }} » et toutes ses images ? Cette action est irréversible."
    hx-target="#content" 
    hx-swap="innerHTML">
        Supprimer cette galerie
</a>

