{% macro button(key, check) %}
<button
    class="btn btn-primary"
    hx-post="/admin/update_input"
    hx-target="#invisible"
    hx-vals='js:{"key": "{{ key }}", 
            "value": document.getElementById("{{ key }}").value,
            "check": "{{ check }}"}'>
    Enregistrer
</button>
{% endmacro %}

{% macro balises_before_call(key) %}
<div>
    <span class="variables_calling" onclick="insertPlaceholder('{{ key }}', '{P}')">{P}</span>
    pour le nom de la pharmacie,  
    <span class="variables_calling" onclick="insertPlaceholder('{{ key }}', '{N}')">{N}</span>
    pour le numéro du patient, 
    <span class="variables_calling" onclick="insertPlaceholder('{{ key }}', '{A}')">{A}</span>
    pour l'activité, 
    <span class="variables_calling" onclick="insertPlaceholder('{{ key }}', '{D}')">{D}</span>
    pour la date,
    <span class="variables_calling" onclick="insertPlaceholder('{{ key }}', '{H}')">{H}</span>
    pour l'heure.
</div>
{% endmacro %}

{% macro balises_for_printer(key) %}
<div>
    <span class="variables_calling" onclick="insertPlaceholder('{{ key }}', '[center][/center]')">Centrer</span>,
    <span class="variables_calling" onclick="insertPlaceholder('{{ key }}', '[double][/double]')">Double taille</span>,
    <span class="variables_calling" onclick="insertPlaceholder('{{ key }}', '**Texte en gras**')">Gras</span>,
    <span class="variables_calling" onclick="insertPlaceholder('{{ key }}', '__Texte souligné__')">Souligné</span>,
    <span class="variables_calling" onclick="insertPlaceholder('{{ key }}', '[separator]')">Séparateur</span>
</div>
{% endmacro %}

{% macro balises_after_call(key) %}
<div>
    <span class="variables_calling" onclick="insertPlaceholder('{{ key }}', '{P}')">{P}</span>
    pour le nom de la pharmacie,  
    <span class="variables_calling" onclick="insertPlaceholder('{{ key }}', '{N}')">{N}</span>
    pour le numéro du patient, 
    <span class="variables_calling" onclick="insertPlaceholder('{{ key }}', '{A}')">{M}</span>
    pour le membre de l'équipe, 
    <span class="variables_calling" onclick="insertPlaceholder('{{ key }}', '{C}')">{C}</span>
    pour le comptoir,
    <span class="variables_calling" onclick="insertPlaceholder('{{ key }}', '{D}')">{D}</span>
    pour la date,
    <span class="variables_calling" onclick="insertPlaceholder('{{ key }}', '{H}')">{H}</span>
    pour l'heure.
</div>
{% endmacro %}


{% macro balises_welcome(key) %}
<div>
    <span class="variables_calling" onclick="insertPlaceholder('{{ key }}', '{P}')">{P}</span>
    pour le nom de la pharmacie, 
    <span class="variables_calling" onclick="insertPlaceholder('{{ key }}', '{D}')">{D}</span>
    pour la date,
    <span class="variables_calling" onclick="insertPlaceholder('{{ key }}', '{H}')">{H}</span>
    pour l'heure.
</div>
{% endmacro %}


{% macro textarea(key, value, label) %}
<div class="mb-3">
    <label for="{{ key }}" class="form-label">{{label}}</label>
    <textarea id="{{ key }}" class="form-control" rows="3">{{ value }}</textarea>
</div>
{% endmacro %}


{% macro textbloc_before_call(key, value, label) %}
<div class="row">
    <div class="row">
        {{ textarea(key, value, label) }}
        {{ balises_before_call(key) }}
    </div>
    {{ button(key, "before_call") }}
</div>
{% endmacro %}


{% macro textbloc_for_printer(key, value, label) %}
<div class="row">
    <div class="row">
        {{ textarea(key, value, label) }}
        {{ balises_before_call(key) }}
        {{ balises_for_printer(key) }}
    </div>
    {{ button(key, "before_call") }}
</div>
{% endmacro %}


{% macro textbloc_after_call(key, value, label) %}
<div class="row">
    <div class="row">
        {{ textarea(key, value, label) }}
        {{ balises_after_call(key) }}
    </div>
    {{ button(key, "after_call") }}
</div>
{% endmacro %}

{% macro textbloc_welcome(key, value, label) %}
<div class="row">
    <div class="row">
        {{ textarea(key, value, label) }}
        {{ balises_welcome(key) }}
    </div>
    {{ button(key, "welcome") }}
</div>
{% endmacro %}

<!-- Champs texte pour les entiers -->
{% macro textbloc_int(key, value, label) %}
<div class="mb-3 d-flex">
    {{ input_field(key, value, label) }}
    {{ button(key, "int") }}
</div>
{% endmacro %}

<!-- Champs texte pour les heures -->
{% macro textbloc_hour(key, value, label) %}
<div class="flex-grow-1 me-2">
    <label for="{{ key }}" class="form-label">{{label}}</label>
    <input type="time" id="{{ key }}" class="form-control" value="{{ value }}">
</div>
{{ button(key) }}
{% endmacro %}


{% macro textarea_full(key, value, label) %}
<div class="row">
    <div class="row">
        {{ textarea(key, value, label) }}
    </div>
    {{ button(key) }}
</div>
{% endmacro %}


{% macro input_field(key, value, label) %}
<div class="flex-grow-1 me-2">
    <label for="{{ key }}" class="form-label">{{label}}</label>
    <input type="text" id="{{ key }}" class="form-control" value="{{ value }}">
</div>
{% endmacro %}


{% macro switch(key, check, label) %}
<div class="form-check form-switch">
    <input class="form-check-input" 
           type="checkbox" 
           id="{{key}}"
           {% if check == True %}checked{% endif %}
           hx-post="/admin/update_switch"
           hx-target="#invisible"
           hx-vals='js:{"key": "{{key}}",
                        "value": document.getElementById("{{key}}").checked}'>
    <label class="form-check-label" for="{{key}}">{{label}}</label>
</div>
{% endmacro %}

{% macro modal_delete() %}
<div class="modal fade" id="modal_delete" tabindex="-1" aria-labelledby="modalDeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDeleteabel">Confirmation de la suppression</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal-htmx">
                <!-- Le contenu de la modale est chargé dynamiquement ici : body + footer -->
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro modal_generic(title) %}
<div class="modal fade" id="modal_generic" tabindex="-1" aria-labelledby="modalDeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDeleteabel">{{title}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal-generic-htmx">
                <!-- Le contenu de la modale est chargé dynamiquement ici : body + footer -->
            </div>
        </div>
    </div>
</div>
{% endmacro %}


{% macro save_restore(table, json_tag) %}
<h3>Sauvegarde</h3>
<a class='btn btn-primary' href="{{ url_for('backup_' + table) }}">Sauvegarder les données</a>

<h3>Restauration</h3>
<!-- Button to trigger the modal -->
<button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#restoreModal_{{ table }}">Restaurer les données</button>

<!-- Modal Structure -->
<div class="modal fade" id="restoreModal_{{ table }}" tabindex="-1" aria-labelledby="restoreModalLabel_{{ table }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="restoreModalLabel_{{ table }}">Restaurer les données</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div style="display:none;" id="json_tag_{{ table }}">{{ json_tag }}</div>
                <form id="restoreForm_{{ table }}" action="{{ url_for('restore_' + table) }}" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="fileInput_{{ table }}" class="form-label">Choisir un fichier</label>
                        <input class="form-control" type="file" name="file" id="fileInput_{{ table }}"
                            {% if table == "databases" %}
                                accept=".zip"
                            {% else %}
                                accept=".json" 
                            {% endif %}>
                    </div>
                    <div id="fileContent_{{ table }}">
                        <!-- This div will display the metadata -->
                    </div>
                    <div class="alert alert-warning">Attention, les données existantes seront définitivement supprimées !</div>
                    <button class="btn btn-danger" type="submit" id="restoreButton_{{ table }}" disabled>Restaurer les données</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.modal');
        //M.Modal.init(elems);

        initRestoreForm('{{ table }}', '{{ table }}' === 'databases');
    });

    function initRestoreForm(table, isDatabase) {
        var fileInput = document.getElementById('fileInput_' + table);
        var restoreButton = document.getElementById('restoreButton_' + table);
        var fileContentDiv = document.getElementById('fileContent_' + table);
        var json_tag = document.getElementById('json_tag_' + table).textContent;

        fileInput.addEventListener('change', function(event) {
            var file = event.target.files[0];
            if (file) {
                if (isDatabase && file.name.endsWith('.zip')) {
                    // Just indicate that a ZIP file was selected and enable the restore button
                    fileContentDiv.innerHTML = `<div><strong>Fichier ZIP sélectionné :</strong> ${file.name}</div>`;
                    restoreButton.disabled = false; // Enable the button
                } else if (!isDatabase && file.name.endsWith('.json')) {
                    var reader = new FileReader();
                    reader.onload = function(e) {
                        var content = e.target.result;
                        try {
                            var jsonContent = JSON.parse(content);
                            var metadata = {
                                "name": jsonContent.name,
                                "type": jsonContent.type,
                                "version": jsonContent.version,
                                "timestamp": jsonContent.timestamp,
                                "comments": jsonContent.comments
                            };
                            var metadataContent = `
                                <div><strong>Name:</strong> ${metadata.name}<br>
                                <strong>Type:</strong> ${metadata.type}<br>
                                <strong>Version:</strong> ${metadata.version}<br>
                                <strong>Timestamp:</strong> ${metadata.timestamp}<br>
                                <strong>Comments:</strong> ${metadata.comments}</div>
                            `;
                            if (json_tag != jsonContent.name) {
                                var metadataContentBadContent = `
                                <div><strong>Erreur de fichier !</strong><br>
                                Vous utilisez un fichier de type <strong>${jsonContent.name}</strong>
                                mais vous devez utiliser un fichier de type <strong>${json_tag}</strong><br>
                            `;
                                fileContentDiv.innerHTML = metadataContentBadContent;
                            } else {
                                fileContentDiv.innerHTML = metadataContent;
                                restoreButton.disabled = false; // Enable the button
                            }

                        } catch (error) {
                            fileContentDiv.innerText = 'Invalid JSON file or missing metadata';
                            restoreButton.disabled = true; // Disable the button in case of error
                        }
                    };
                    reader.readAsText(file);
                } else {
                    fileContentDiv.innerText = 'Fichier invalide sélectionné. Veuillez choisir un fichier valide.';
                    restoreButton.disabled = true; // Disable the button if invalid file selected
                }
            } else {
                fileContentDiv.innerText = '';
                restoreButton.disabled = true; // Disable the button if no file is selected
            }
        });
    }
</script>
{% endmacro %}
