{% extends '/admin/base.html' %}

{% block title %}Spotify{% endblock %}

{% block content %}

<h3>Musique</h3>
    
<div class="row">
    <div class="col-12">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" id="securityTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="player-tab" data-bs-toggle="tab" data-bs-target="#tab_player" type="button" role="tab" aria-controls="tab_player" aria-selected="true">Lecture</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="options-tab" data-bs-toggle="tab" data-bs-target="#tab_options" type="button" role="tab" aria-controls="tab_options" aria-selected="false">Options</button>
            </li>
        </ul>

        <!-- Tab content -->
        <div class="tab-content" id="securityTabContent">
            <div class="tab-pane fade show active" id="tab_player" role="tabpanel" aria-labelledby="player-tab">
                {% include 'admin/music_playlists.html' %}
            </div>
            <div class="tab-pane fade" id="tab_options" role="tabpanel" aria-labelledby="options-tab">
                {% include 'admin/music_options.html' %}       
            </div>
        </div>
    </div>
</div>


{% endblock %}

