{% extends '/admin/base.html' %}

{% block title %}Spotify{% endblock %}

{% block content %}

{% if playlists %}
<ul>
    {% for playlist in playlists %}
        <li>
            <a href="{{ playlist['external_urls']['spotify'] }}" target="_blank">
                {{ playlist['name'] }} ({{ playlist['tracks']['total'] }} chansons)
            </a>
            <div>
                <!-- Bouton pour lecture dans l'ordre -->
                <button class=btn btn-primary
                        hx-post="{{ url_for('play_playlist') }}"
                        hx-vals='{"playlist_uri": "{{ playlist["uri"] }}", "shuffle": "false"}'
                        hx-target="#invisible">
                        Lire dans l'ordre
                </button>

                <!-- Bouton pour lecture aléatoire -->
                <button class=btn btn-primary
                hx-post="{{ url_for('play_playlist') }}"
                hx-vals='{"playlist_uri": "{{ playlist["uri"] }}", "shuffle": "true"}'
                hx-target="#invisible">
                Aléatoire
        </button>
            </div>
        </li>
    {% endfor %}
</ul>
{% else %}
<p>Vous n'avez aucune playlist.</p>
{% endif %}


{% endblock %}