<h3>Page "Patient"</h3>

{{ macros.copy_colors_bloc("patient") }}

{{ macros.parent_css_color_bloc("patient", "patient_main_color", patient_main_color, "Couleur principale") }}

{{ macros.css_color_bloc("patient", "patient_secondary_color", patient_secondary_color, "Couleur secondaire") }}

{{ macros.parent_css_color_bloc("patient", "patient_third_color", patient_third_color, "Couleur des textes") }}

{{ macros.parent_css_color_bloc("patient", "patient_border_color", patient_border_color, "Couleur des bordures") }}

{{ macros.parent_css_color_bloc("patient", "patient_button_border_color", patient_button_border_color, "Couleur des bordures des boutons") }}


<div class="mb-3">
    <label for="page_patient_structure" class="form-label">Structure de la page</label>
    <select
        id="page_patient_structure"
        class="form-select"
        hx-post="/admin/update_select"
        hx-target="#invisible"
        hx-vals='js:{"key": "page_patient_structure", "value": document.getElementById("page_patient_structure").value}'>
        <option value="" disabled selected>Choisir le type d'affichage</option>
        <option value="full" {% if page_patient_structure == "full" %}selected{% endif %}>Pleine page</option>
        <option value="vertical" {% if page_patient_structure == "vertical" %}selected{% endif %}>Séparation verticale</option>
        <option value="horizontal" {% if page_patient_structure == "horizontal" %}selected{% endif %}>Séparation horizontale</option>
    </select>
</div>

<h5>Textes de la page d'accueil</h5>

{{ macros.switch("page_patient_disable_button", 
                page_patient_disable_button, 
                "Griser les boutons si l'activité n'est pas en cours (sinon effacer)")
}}




{{ macros.switch("page_patient_direct_print", 
                page_patient_direct_print,
                "Imprimer directement le ticket sans passer par l'écran de validation (QR/Print)")
}}

{{ macros.switch("page_patient_print_after_print", 
                page_patient_print_after_print,
                "Afficher la page pour réimprimer après le clic sur 'Print'")
}}

{{ macros.switch("page_patient_print_after_scan", 
                page_patient_print_after_scan,
                "Afficher la page pour réimprimer après le clic sur 'Scan'")
}}

{{ macros.textbloc_int("page_patient_end_timer", page_patient_end_timer, "Temps avant le retour à l'accueil en s après le clic")}}



<div class="mb-3">
    <label for="page_patient_disable_default_message" class="form-label">Texte qui s'affiche par défaut quand l'activité n'est pas en cours</label>
    <textarea id="page_patient_disable_default_message" class="form-control" rows="3">{{page_patient_disable_default_message}}</textarea>
    <button
    class="btn btn-primary"
        hx-post="/admin/update_input"
        hx-target="#invisible"
        hx-vals='js:{"key": "page_patient_disable_default_message", "value": document.getElementById("page_patient_disable_default_message").value}'>
        Enregistrer
    </button>
</div>

{{ macros.switch("page_patient_display_specific_message", 
                page_patient_display_specific_message, 
                "Afficher le message spécifique à l'activité dans le pied de page")
}}


<h5>Texte de la page de confirmation</h5>


<div class="accordion" id="accordionPanelsStayOpen">

    <!-- Titre de la page -->
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-TitlePatientPage" aria-expanded="false" aria-controls="panelsStayOpen-TitlePatientPage">
                <h3>Titre la page</h3>
            </button>
        </h2>
        <div id="panelsStayOpen-TitlePatientPage" class="accordion-collapse collapse">
            <div class="accordion-body">

                {{ macros.simple_bloc("page_patient_title", page_patient_title, "Texte") }}

                <strong>Police du texte</strong>
                <div class="admin_css_textbloc">
                    {{ macros.css_unit_bloc("patient", "patient_title_font_size", patient_title_font_size, "Taille", "px") }}
                    {{ macros.css_color_bloc("patient", "patient_title_font_color", patient_title_font_color, "Couleur") }}    
                </div>

                <strong>Contour du texte</strong>
                <div class="admin_css_textbloc">                
                    {{ macros.css_unit_bloc("patient", "patient_title_border_size", patient_title_border_size, "Taille", "px") }}
                    {{ macros.css_color_bloc("patient", "patient_title_border_color", patient_title_border_color, "Couleur") }}
                </div>

                <strong>Fond</strong>
                <div class="admin_css_textbloc">
                    {{ macros.css_unit_bloc("patient", "patient_title_background_height", patient_title_background_height, "Hauteur", "px") }}
                    {{ macros.css_color_bloc("patient", "patient_title_background_color", patient_title_background_color, "Couleur") }}
                </div>

            </div>
        </div>
    </div>


        <!-- Bouton circulaire -->
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-CircleButton" aria-expanded="false" aria-controls="panelsStayOpen-CircleButton">
                    <h3>Bouton circulaire</h3>
                </button>
            </h2>
            <div id="panelsStayOpen-CircleButton" class="accordion-collapse collapse">
                <div class="accordion-body">   

                    <strong>Cercle du bouton</strong>
                    <div class="admin_css_textbloc">
                        {{ macros.css_unit_bloc("patient", "circle_button_size", circle_button_size, "Taille", "px") }}
                        {{ macros.css_color_bloc("patient", "circle_button_color", circle_button_color, "Couleur") }}    
                    </div>
    
                    <strong>Contour du cercle</strong>
                    <div class="admin_css_textbloc">                
                        {{ macros.css_unit_bloc("patient", "circle_button_border_size", circle_button_border_size, "Taille", "px") }}
                        {{ macros.css_color_bloc("patient", "circle_button_border_color", circle_button_border_color, "Couleur") }}
                    </div>
    
                    <strong>Police du texte</strong>
                    <div class="admin_css_textbloc">
                        {{ macros.css_unit_bloc("patient", "circle_button_text_size", circle_button_text_size, "Taille", "px") }}
                        {{ macros.css_color_bloc("patient", "circle_button_text_color", circle_button_text_color, "Couleur") }}    
                    </div>
    
                    <strong>Contour du texte</strong>
                    <div class="admin_css_textbloc"> 
                        {{ macros.css_unit_bloc("patient", "circle_button_text_border_size", circle_button_text_border_size, "Taille", "px") }}
                        {{ macros.css_color_bloc("patient", "circle_button_text_border_color", circle_button_text_border_color, "Couleur") }}
                    </div>

                    <strong>Fond du texte</strong>
                    <div class="admin_css_textbloc">
                        {{ macros.css_color_bloc("patient", "circle_button_text_background_color", circle_button_text_background_color, "Couleur") }}
                    </div>
                    
                    <strong>Taille de l'image</strong>
                    {{ macros.css_unit_bloc("patient", "circle_button_image_size", circle_button_image_size, "Taille", "px") }}

                </div>
            </div>
        </div>

        <!-- Bouton square -->
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-squareButton" aria-expanded="false" aria-controls="panelsStayOpen-squareButton">
                    <h3>Bouton rectangulaire</h3>
                </button>
            </h2>
            <div id="panelsStayOpen-squareButton" class="accordion-collapse collapse">
                <div class="accordion-body">   

                    <strong>square du bouton</strong>
                    <div class="admin_css_textbloc">
                        {{ macros.css_unit_bloc("patient", "square_button_width", square_button_width, "Largeur", "px") }}
                        {{ macros.css_unit_bloc("patient", "square_button_height", square_button_height, "Hauteur", "px") }}
                        {{ macros.css_color_bloc("patient", "square_button_color", square_button_color, "Couleur") }}    
                    </div>
    
                    <strong>Contour du cercle</strong>
                    <div class="admin_css_textbloc">                
                        {{ macros.css_unit_bloc("patient", "square_button_border_size", square_button_border_size, "Taille", "px") }}
                        {{ macros.css_color_bloc("patient", "square_button_border_color", square_button_border_color, "Couleur") }}
                    </div>
    
                    <strong>Police du texte</strong>
                    <div class="admin_css_textbloc">
                        {{ macros.css_unit_bloc("patient", "square_button_text_size", square_button_text_size, "Taille", "px") }}
                        {{ macros.css_color_bloc("patient", "square_button_text_color", square_button_text_color, "Couleur") }}    
                    </div>
    
                    <strong>Contour du texte</strong>
                    <div class="admin_css_textbloc">                
                        {{ macros.css_unit_bloc("patient", "square_button_text_border_size", square_button_text_border_size, "Taille", "px") }}
                        {{ macros.css_color_bloc("patient", "square_button_text_border_color", square_button_text_border_color, "Couleur") }}
                    </div>

                    <strong>Fond du texte</strong>
                    <div class="admin_css_textbloc">
                        {{ macros.css_color_bloc("patient", "square_button_text_background_color", square_button_text_background_color, "Couleur") }}
                    </div>
                    
                    <strong>Taille de l'image</strong>
                    {{ macros.css_unit_bloc("patient", "square_button_image_size", square_button_image_size, "Taille", "px") }}

                </div>
            </div>
        </div>

        <!-- Bouton square -->
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-squareCancelButton" aria-expanded="false" aria-controls="panelsStayOpen-squareCancelButton">
                    <h3>Bouton rectangulaire "Annuler"</h3>
                </button>
            </h2>
            <div id="panelsStayOpen-squareCancelButton" class="accordion-collapse collapse">
                <div class="accordion-body">   

                    <strong>square du bouton</strong>
                    <div class="admin_css_textbloc">
                        {{ macros.css_unit_bloc("patient", "square_cancel_button_width", square_cancel_button_width, "Largeur", "px") }}
                        {{ macros.css_unit_bloc("patient", "square_cancel_button_height", square_cancel_button_height, "Hauteur", "px") }}
                        {{ macros.css_color_bloc("patient", "square_cancel_button_color", square_cancel_button_color, "Couleur") }}    
                    </div>
    
                    <strong>Contour du cercle</strong>
                    <div class="admin_css_textbloc">                
                        {{ macros.css_unit_bloc("patient", "square_cancel_button_border_size", square_cancel_button_border_size, "Taille", "px") }}
                        {{ macros.css_color_bloc("patient", "square_cancel_button_border_color", square_cancel_button_border_color, "Couleur") }}
                    </div>
    
                    <strong>Police du texte</strong>
                    <div class="admin_css_textbloc">
                        {{ macros.css_unit_bloc("patient", "square_cancel_button_text_size", square_cancel_button_text_size, "Taille", "px") }}
                        {{ macros.css_color_bloc("patient", "square_cancel_button_text_color", square_cancel_button_text_color, "Couleur") }}    
                    </div>
    
                    <strong>Contour du texte</strong>
                    <div class="admin_css_textbloc">                
                        {{ macros.css_unit_bloc("patient", "square_cancel_button_text_border_size", square_cancel_button_text_border_size, "Taille", "px") }}
                        {{ macros.css_color_bloc("patient", "square_cancel_button_text_border_color", square_cancel_button_text_border_color, "Couleur") }}
                    </div>

                    <strong>Fond du texte</strong>
                    <div class="admin_css_textbloc">
                        {{ macros.css_color_bloc("patient", "square_cancel_button_text_background_color", square_cancel_button_text_background_color, "Couleur") }}
                    </div>
                    
                    <strong>Taille de l'image</strong>
                    {{ macros.css_unit_bloc("patient", "square_cancel_button_image_size", square_cancel_button_image_size, "Taille", "px") }}

                </div>
            </div>
        </div>

    
    <!-- Drapeaux -->
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-Flags" aria-expanded="false" aria-controls="panelsStayOpen-Flags">
                <h3>Drapeaux pour le choix des langues</h3>
            </button>
        </h2>
        <div id="panelsStayOpen-Flags" class="accordion-collapse collapse">
            <div class="accordion-body">

                {{ macros.switch("page_patient_display_translations", 
                                page_patient_display_translations, 
                                "Afficher le choix de la langue")
                }}

                <strong>Taille des drapeaux</strong>
                <div class="admin_css_textbloc">
                    {{ macros.css_unit_bloc("patient", "flag_size", flag_size, "Taille", "px") }}
                </div>

                <strong>Contour des drapeaux</strong>
                <div class="admin_css_textbloc">                
                    {{ macros.css_unit_bloc("patient", "flag_border_size", flag_border_size, "Taille", "px") }}
                    {{ macros.css_color_bloc("patient", "flag_border_color", flag_border_color, "Couleur") }}
                </div>

            </div>
        </div>
    </div>


    <!-- Sous titre de la page -->
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-SubtitlePatientPage" aria-expanded="false" aria-controls="panelsStayOpen-SubtitlePatientPage">
                <h3>Texte en bas de la page</h3>
            </button>
        </h2>
        <div id="panelsStayOpen-SubtitlePatientPage" class="accordion-collapse collapse">
            <div class="accordion-body">

                {{ macros.textbloc_before_call("page_patient_subtitle", page_patient_subtitle, "Texte")}}
                <strong>Police du texte</strong>
                <div class="admin_css_textbloc">
                    {{ macros.css_unit_bloc("patient", "subtitle_font_size", subtitle_font_size, "Taille", "px") }}
                    {{ macros.css_color_bloc("patient", "subtitle_font_color", subtitle_font_color, "Couleur") }}    
                </div>

                <strong>Contour du texte</strong>
                <div class="admin_css_textbloc">                
                    {{ macros.css_unit_bloc("patient", "subtitle_border_size", subtitle_border_size, "Taille", "px") }}
                    {{ macros.css_color_bloc("patient", "subtitle_border_color", subtitle_border_color, "Couleur") }}
                </div>

                <strong>Fond</strong>
                <div class="admin_css_textbloc">
                    {{ macros.css_unit_bloc("patient", "subtitle_background_height", subtitle_background_height, "Taille", "px") }}
                    {{ macros.css_color_bloc("patient", "subtitle_background_color", subtitle_background_color, "Couleur") }}
                </div>

            </div>
        </div>
    </div>

    <!-- Texte activité indisponible -->
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-SubtitleNoActivity" aria-expanded="false" aria-controls="panelsStayOpen-SubtitleNoActivity">
                <h3>Texte quand l'activité est indisponible</h3>
            </button>
        </h2>
        <div id="panelsStayOpen-SubtitleNoActivity" class="accordion-collapse collapse">
            <div class="accordion-body">

                <strong>Police du texte</strong>
                <div class="admin_css_textbloc">
                    {{ macros.css_unit_bloc("patient", "subtitle_no_activity_font_size", subtitle_no_activity_font_size, "Taille", "px") }}
                    {{ macros.css_color_bloc("patient", "subtitle_no_activity_font_color", subtitle_no_activity_font_color, "Couleur") }}    
                </div>

                <strong>Contour du texte</strong>
                <div class="admin_css_textbloc">                
                    {{ macros.css_unit_bloc("patient", "subtitle_no_activity_border_size", subtitle_no_activity_border_size, "Taille", "px") }}
                    {{ macros.css_color_bloc("patient", "subtitle_no_activity_border_color", subtitle_no_activity_border_color, "Couleur") }}
                </div>

                <strong>Fond</strong>
                <div class="admin_css_textbloc">
                    {{ macros.css_color_bloc("patient", "subtitle_no_activity_background_color", subtitle_no_activity_background_color, "Couleur") }}
                </div>

            </div>
        </div>
    </div>

    <!-- Texte message spécifique -->
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-SubtitleSpecificMessage" aria-expanded="false" aria-controls="panelsStayOpen-SubtitleSpecificMessage">
                <h3>Texte pour le message spécifique</h3>
            </button>
        </h2>
        <div id="panelsStayOpen-SubtitleSpecificMessage" class="accordion-collapse collapse">
            <div class="accordion-body">

                <strong>Police du texte</strong>
                <div class="admin_css_textbloc">
                    {{ macros.css_unit_bloc("patient", "subtitle_specific_message_font_size", subtitle_specific_message_font_size, "Taille", "px") }}
                    {{ macros.css_color_bloc("patient", "subtitle_specific_message_font_color", subtitle_specific_message_font_color, "Couleur") }}    
                </div>

                <strong>Contour du texte</strong>
                <div class="admin_css_textbloc">                
                    {{ macros.css_unit_bloc("patient", "subtitle_specific_message_border_size", subtitle_specific_message_border_size, "Taille", "px") }}
                    {{ macros.css_color_bloc("patient", "subtitle_specific_message_border_color", subtitle_specific_message_border_color, "Couleur") }}
                </div>

                <strong>Fond</strong>
                <div class="admin_css_textbloc">
                    {{ macros.css_color_bloc("patient", "subtitle_specific_message_background_color", subtitle_specific_message_background_color, "Couleur") }}
                </div>

            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-ScanButton" aria-expanded="false" aria-controls="panelsStayOpen-ScanButton">
                <h3>Bouton pour Valider après le Scan</h3>
            </button>
        </h2>
            <div id="panelsStayOpen-ScanButton" class="accordion-collapse collapse">
                <div class="accordion-body">

                    {{ macros.switch("page_patient_display_button_scan", 
                    page_patient_display_button_scan,
                    "Afficher le bouton 'Scanner et valider'")
                    }}

                    {{ macros.simple_bloc("page_patient_interface_validate_scan", page_patient_interface_validate_scan, "Texte") }}

            </div>
        </div>
    </div>

    <!-- Scan explanation -->
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-ScanExplanation" aria-expanded="false" aria-controls="panelsStayOpen-ScanExplanation">
                <h3>Texte d'explication pour le Scan du QR-Code</h3>
            </button>
        </h2>        
        <div id="panelsStayOpen-ScanExplanation" class="accordion-collapse collapse">
            <div class="accordion-body">
                {{ macros.switch("page_patient_display_scan_explanation", 
                page_patient_display_scan_explanation,
                "Afficher les explications pour scanner le QRCode")
                }}

                {{ macros.simple_bloc("page_patient_interface_scan_explanation", page_patient_interface_scan_explanation, "Texte") }}

                <strong>Police du texte</strong>
                <div class="admin_css_textbloc">
                    {{ macros.css_unit_bloc("patient", "scan_explanation_font_size", scan_explanation_font_size, "Taille", "px") }}
                    {{ macros.css_color_bloc("patient", "scan_explanation_font_color", scan_explanation_font_color, "Couleur") }}    
                </div>

                <strong>Contour du texte</strong>
                <div class="admin_css_textbloc">                
                    {{ macros.css_unit_bloc("patient", "scan_explanation_border_size", scan_explanation_border_size, "Taille", "px") }}
                    {{ macros.css_color_bloc("patient", "scan_explanation_border_color", scan_explanation_border_color, "Couleur") }}
                </div>

                <strong>Fond</strong>
                <div class="admin_css_textbloc">
                    {{ macros.css_color_bloc("patient", "scan_explanation_background_color", scan_explanation_background_color, "Couleur") }}
                </div>

            </div>
        </div>
    </div>


    <!-- Bouton square page validation -->
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-squareValidationButtons" aria-expanded="false" aria-controls="panelsStayOpen-squareValidationButtons">
                <h3>Boutons rectangulaires de la page de validation </h3>
            </button>
        </h2>
        <div id="panelsStayOpen-squareValidationButtons" class="accordion-collapse collapse">
            <div class="accordion-body">   

                {{ macros.textarea_full("page_patient_interface_validate_print", page_patient_interface_validate_print, "Bouton 'Imprimer'") }}


                <div class="d-flex align-items-center gap-3">

                    <div id="div_image_print_button">
                        {% if page_patient_button_print_ticket_picture %}
                            <img src="{{ url_for('static', filename='images/buttons/' ~ page_patient_button_print_ticket_picture) }}" 
                            alt="Button Image" 
                            style="width: 100px;">
                        {% else %}
                            Pas d'image
                        {% endif %}
                    </div>

                    <div>{{page_patient_button_print_ticket_picture}}</div>

                <!-- Bouton pour ouvrir la modal -->
                <button class="btn btn-primary"
                        hx-get="/admin/patient/gallery_button_images/print_button"
                        hx-target="#modal_display_gallery_for_interface .modal-content"
                        hx-trigger="click"
                        data-bs-toggle="modal"
                        data-bs-target="#modal_display_gallery_for_interface">
                    Galerie
                </button>

                {{ macros.switch("page_patient_button_print_ticket_display_picture",
                                page_patient_button_print_ticket_display_picture, 
                                "Afficher l'image sur le bouton 'Imprimer'")
                }} 

            </div>

            {{ macros.textarea_full("page_patient_interface_validate_cancel", page_patient_interface_validate_cancel, "Bouton 'Annuler'") }}

            <div class="d-flex align-items-center gap-3">


                <div id="div_image_cancel_button">
                    {% if page_patient_button_cancel_picture %}
                        <img src="{{ url_for('static', filename='images/buttons/' ~ page_patient_button_cancel_picture) }}" 
                        alt="Button Image" 
                        style="width: 100px;">
                    {% else %}
                        Pas d'image
                    {% endif %}
                </div>

                {{page_patient_button_cancel_picture}}              

                <!-- Bouton pour ouvrir la modal -->
                <button class="btn btn-primary"
                        hx-get="/admin/patient/gallery_button_images/cancel_button"
                        hx-target="#modal_display_gallery_for_interface .modal-content"
                        hx-trigger="click"
                        data-bs-toggle="modal"
                        data-bs-target="#modal_display_gallery_for_interface">
                    Galerie
                </button>

                {{ macros.switch("page_patient_button_cancel_display_picture",
                                page_patient_button_cancel_display_picture, 
                                "Afficher l'image sur le bouton 'Annuler'")
                }}

            </div>


                <strong>square du bouton</strong>
                <div class="admin_css_textbloc">
                    {{ macros.css_unit_bloc("patient", "validation_button_width", validation_button_width, "Largeur", "px") }}
                    {{ macros.css_unit_bloc("patient", "validation_button_height", validation_button_height, "Hauteur", "px") }}
                    {{ macros.css_color_bloc("patient", "validation_button_color", validation_button_color, "Couleur") }}    
                </div>

                <strong>Contour du cercle</strong>
                <div class="admin_css_textbloc">                
                    {{ macros.css_unit_bloc("patient", "validation_button_border_size", validation_button_border_size, "Taille", "px") }}
                    {{ macros.css_color_bloc("patient", "validation_button_border_color", validation_button_border_color, "Couleur") }}
                </div>

                <strong>Police du texte</strong>
                <div class="admin_css_textbloc">
                    {{ macros.css_unit_bloc("patient", "validation_button_text_size", validation_button_text_size, "Taille", "px") }}
                    {{ macros.css_color_bloc("patient", "validation_button_text_color", validation_button_text_color, "Couleur") }}    
                </div>

                <strong>Contour du texte</strong>
                <div class="admin_css_textbloc">                
                    {{ macros.css_unit_bloc("patient", "validation_button_text_border_size", validation_button_text_border_size, "Taille", "px") }}
                    {{ macros.css_color_bloc("patient", "validation_button_text_border_color", validation_button_text_border_color, "Couleur") }}
                </div>

                <strong>Fond du texte</strong>
                <div class="admin_css_textbloc">
                    {{ macros.css_color_bloc("patient", "validation_button_text_background_color", validation_button_text_background_color, "Couleur") }}
                </div>
                
                <strong>Taille des images</strong>
                <div class="admin_css_textbloc">                
                    {{ macros.css_unit_bloc("patient", "validation_button_picture_size", validation_button_picture_size, "Taille", "px") }}
                </div>   

            </div>
        </div>
    </div>


    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-BeforeConfirmation" aria-expanded="false" aria-controls="panelsStayOpen-BeforeConfirmation">
                <h3>Texte de la page de validation</h3>
            </button>
        </h2>
            <div id="panelsStayOpen-BeforeConfirmation" class="accordion-collapse collapse">
                <div class="accordion-body">

                    {{ macros.textbloc_before_call("page_patient_validation_message", page_patient_validation_message, "Texte avant la validation du patient. Ne pas utiliser {N} !")}}

                    <strong>Police du texte</strong>
                    <div class="admin_css_textbloc">
                        {{ macros.css_unit_bloc("patient", "validation_text_font_size", validation_text_font_size, "Taille", "px") }}
                        {{ macros.css_color_bloc("patient", "validation_text_font_color", validation_text_font_color, "Couleur") }}    
                    </div>
    
                    <strong>Contour du texte</strong>
                    <div class="admin_css_textbloc">
                        {{ macros.css_unit_bloc("patient", "validation_text_border_size", validation_text_border_size, "Taille", "px") }}
                        {{ macros.css_color_bloc("patient", "validation_text_border_color", validation_text_border_color, "Couleur") }}
                    </div>

                    <strong>Fond</strong>
                    <div class="admin_css_textbloc">
                        {{ macros.css_color_bloc("patient", "validation_text_background_color", validation_text_background_color, "Couleur") }}
                    </div>
                    
            </div>
        </div>
    </div>


    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-ConfirmationText" aria-expanded="false" aria-controls="panelsStayOpen-ConfirmationText">
                <h3>Texte de confirmation après impression du ticket ou scan du QR-Code</h3>
            </button>
        </h2>
            <div id="panelsStayOpen-ConfirmationText" class="accordion-collapse collapse">
                <div class="accordion-body">

                    {{ macros.textbloc_before_call("page_patient_confirmation_message", page_patient_confirmation_message, "Texte après la validation du patient")}}
                    
                    <strong>Police du texte</strong>
                    <div class="admin_css_textbloc">
                        {{ macros.css_unit_bloc("patient", "confirmation_text_font_size", confirmation_text_font_size, "Taille", "px") }}
                        {{ macros.css_color_bloc("patient", "confirmation_text_font_color", confirmation_text_font_color, "Couleur") }}    
                    </div>
    
                    <strong>Contour du texte</strong>
                    <div class="admin_css_textbloc">
                        {{ macros.css_unit_bloc("patient", "confirmation_text_border_size", confirmation_text_border_size, "Taille", "px") }}
                        {{ macros.css_color_bloc("patient", "confirmation_text_border_color", confirmation_text_border_color, "Couleur") }}
                    </div>

                    <strong>Fond</strong>
                    <div class="admin_css_textbloc">
                        {{ macros.css_color_bloc("patient", "confirmation_text_background_color", confirmation_text_background_color, "Couleur") }}
                    </div>
            </div>
        </div>
    </div>



  </div>


  <!-- Modal Structure Galerie-->
<div class="modal fade" id="modal_display_gallery_for_interface" tabindex="-1" aria-labelledby="modalGalleryLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Le contenu de la modale sera chargé ici par HTMX -->
        </div>
    </div>
</div>

{{ macros.backup_buttons_page("css_patient", "config_patient", "Page Patient") }}