<h3>Page "Patient"</h3>


<div class="input-field col s12">
    <select
        id="page_patient_structure"
        hx-post="/admin/update_select"
        hx-target="#invisible"
        hx-vals='js:{"key": "page_patient_structure", "value": document.getElementById("page_patient_structure").value}'>
        <option value="" disabled selected>Choisir le type d'affichage</option>
        <option value="full" {% if page_patient_structure == "full" %}selected{% endif %}>Pleine page</option>
        <option value="vertical" {% if page_patient_structure == "vertical" %}selected{% endif %}>Séparation verticale</option>
        <option value="horizontal" {% if page_patient_structure == "horizontal" %}selected{% endif %}>Séparation horizontale</option>
    </select>
    <label>Structure de la page</label>
</div>

<div class="switch">
    <span>Griser ou effacer les boutons si l'activité n'est pas en cours : </span>
    <label>
    Effacer
    <input id="page_patient_disable_button" 
            type="checkbox"
            {% if page_patient_disable_button == True %}checked{% endif %}
            hx-post="/admin/update_switch"
            hx-target="#invisible"
            hx-vals='js:{"key": "page_patient_disable_button",
                        "value": document.getElementById("page_patient_disable_button").checked}'>
    <span class="lever"></span>
    Griser
    </label>
</div>

<div class="row">
    <div class="row">
        <div class="input-field col s12">
            <textarea id="page_patient_title" class="materialize-textarea">{{page_patient_title}}</textarea>
            <label for="page_patient_title">Texte en haut de la page (Titre)</label>
        </div>
    </div>
    <button
        class="btn"
        hx-post="/admin/update_input"
        hx-target="#invisible"
        hx-vals='js:{"key": "page_patient_title",
                    "value": document.getElementById("page_patient_title").value}'>
                Enregistrer</button>
</div>

<div class="row">
    <div class="row">
        <div class="input-field col s12">
            <textarea id="page_patient_subtitle" class="materialize-textarea">{{page_patient_subtitle}}</textarea>
            <label for="page_patient_subtitle">Texte en bas de la page (Indications)</label>
        </div>
    </div>
    <button
        class="btn"
        hx-post="/admin/update_input"
        hx-target="#invisible"
        hx-vals='js:{"key": "page_patient_subtitle",
                    "value": document.getElementById("page_patient_subtitle").value}'>
                Enregistrer</button>
</div>

<div class="row">
    <div class="row">
        <div class="input-field col s12">
            <textarea id="page_patient_disable_default_message" class="materialize-textarea">{{page_patient_disable_default_message}}</textarea>
            <label for="page_patient_disable_default_message">Texte qui s'affiche pas défaut quand l'activité n'est pas en cours</label>
        </div>
    </div>
    <button
        class="btn"
        hx-post="/admin/update_input"
        hx-target="#invisible"
        hx-vals='js:{"key": "page_patient_disable_default_message",
                    "value": document.getElementById("page_patient_disable_default_message").value}'>
                Enregistrer</button>
</div>