<h3>Interface de la page patient</h3>

<h5> Page de validation</h5>

{{ macros.textarea_full("page_patient_interface_validate_print", page_patient_interface_validate_print, "Bouton 'Imprimer'") }}


{{ macros.textarea_full("page_patient_interface_validate_cancel", page_patient_interface_validate_cancel, "Bouton 'Annuler'") }}

<h5> Page de confirmation</h5>

{{ macros.textarea_full("page_patient_interface_done_print", page_patient_interface_done_print, "Bouton 'Imprimer'") }}

{{ macros.textarea_full("page_patient_interface_done_extend", page_patient_interface_done_extend, "Bouton 'Prolonger'") }}

{{ macros.textarea_full("page_patient_interface_done_back", page_patient_interface_done_back, "Bouton 'Retour à la page d'accueil'") }}