<h3>Page "Patient"</h3>

<div class="mb-3">
    <label for="page_patient_structure" class="form-label">Structure de la page</label>
    <select
        id="page_patient_structure"
        class="form-select"
        hx-post="/admin/update_select"
        hx-target="#invisible"
        hx-vals='js:{"key": "page_patient_structure", "value": document.getElementById("page_patient_structure").value}'>
        <option value="" disabled selected>Choisir le type d'affichage</option>
        <option value="full" {% if page_patient_structure == "full" %}selected{% endif %}>Pleine page</option>
        <option value="vertical" {% if page_patient_structure == "vertical" %}selected{% endif %}>Séparation verticale</option>
        <option value="horizontal" {% if page_patient_structure == "horizontal" %}selected{% endif %}>Séparation horizontale</option>
    </select>
</div>

<h5>Textes de la page d'accueil</h5>

{{ macros.switch("page_patient_disable_button", 
                page_patient_disable_button, 
                "Griser les boutons si l'activité n'est pas en cours (sinon effacer)")
}}

{{ macros.switch("page_patient_display_translations", 
                page_patient_display_translations, 
                "Afficher le choix de la langue")
}}

{{ macros.switch("page_patient_display_button_scan", 
                page_patient_display_button_scan,
                "Afficher le bouton 'Scanner et valider'")
}}

{{ macros.switch("page_patient_display_scan_explanation", 
                page_patient_display_scan_explanation,
                "Afficher les explication pour scanner le QRCode")
}}

{{ macros.switch("page_patient_print_after_print", 
                page_patient_print_after_print,
                "Afficher la page pour réimprimer après le clic sur 'Print'")
}}

{{ macros.switch("page_patient_print_after_scan", 
                page_patient_print_after_scan,
                "Afficher la page pour réimprimer après le clic sur 'Scan'")
}}

{{ macros.textbloc_int("page_patient_end_timer", page_patient_end_timer, "Temps avant le retour à l'accueil en s après le clic")}}

<div class="mb-3">
    <label for="page_patient_title" class="form-label">Texte en haut de la page (Titre)</label>
    <textarea id="page_patient_title" class="form-control" rows="3">{{page_patient_title}}</textarea>
    <button
        class="btn btn-primary"
        hx-post="/admin/update_input"
        hx-target="#invisible"
        hx-vals='js:{"key": "page_patient_title", "value": document.getElementById("page_patient_title").value}'>
        Enregistrer
    </button>
</div>

PTFZ{{patient_title_font_size}}
{{ macros.css_textbloc(
    "patient",
    "patient_title_font_size",
    patient_title_font_size,
    "Taille de la police du titre"
) }}

{{ macros.css_textbloc(
    "patient",
    "patient_title_font_color",
    patient_title_font_color,
    "Couleur de la police du titre"
) }}

{{ macros.css_textbloc(
    "patient",
    "patient_title_border_size",
    patient_title_border_size,
    "Taille du contour de la police du titre"
) }}

{{ macros.css_textbloc(
    "patient",
    "patient_title_border_color",
    patient_title_border_color,
    "Couleur du contour de la police du titre"
) }}



<div class="mb-3">
    <label for="page_patient_subtitle" class="form-label">Texte en bas de la page (Indications)</label>
    <textarea id="page_patient_subtitle" class="form-control" rows="3">{{page_patient_subtitle}}</textarea>
    <button
        class="btn btn-primary"
        hx-post="/admin/update_input"
        hx-target="#invisible"
        hx-vals='js:{"key": "page_patient_subtitle", "value": document.getElementById("page_patient_subtitle").value}'>
        Enregistrer
    </button>
</div>

<div class="mb-3">
    <label for="page_patient_disable_default_message" class="form-label">Texte qui s'affiche par défaut quand l'activité n'est pas en cours</label>
    <textarea id="page_patient_disable_default_message" class="form-control" rows="3">{{page_patient_disable_default_message}}</textarea>
    <button
    class="btn btn-primary"
        hx-post="/admin/update_input"
        hx-target="#invisible"
        hx-vals='js:{"key": "page_patient_disable_default_message", "value": document.getElementById("page_patient_disable_default_message").value}'>
        Enregistrer
    </button>
</div>

{{ macros.switch("page_patient_display_specific_message", 
                page_patient_display_specific_message, 
                "Afficher le message spécifique à l'activité dans le pied de page")
}}

{{ macros.css_textbloc(
    "patient",
    "scan_explanation_font_size",
    scan_explanation_font_size,
    "Taille de police des explications"
) }}

{{ macros.css_textbloc(
    "patient",
    "scan_explanation_font_color",
    scan_explanation_font_color,
    "Couleur de police des explications"
) }}

{{ macros.css_textbloc(
    "patient",
    "scan_explanation_border_size",
    scan_explanation_border_size,
    "Taille du contour de la police des explications"
) }}

{{ macros.css_textbloc(
    "patient",
    "scan_explanation_border_color",
    scan_explanation_border_color,
    "Couleur du contour de la police des explications"
) }}

<h5>Texte de la page de validation</h5>

{{ macros.textbloc_before_call("page_patient_validation_message", page_patient_validation_message, "Texte avant la validation du patient. Ne pas utiliser {N} !")}}

<h5>Texte de la page de confirmation</h5>

{{ macros.textbloc_before_call("page_patient_confirmation_message", page_patient_confirmation_message, "Texte après la validation du patient")}}