<h3>QR Code</h3>
<p>Le Qr Code permet au patient de scanner son numéro de passage</p>

<div class="switch">
    <span>Masquer ou Afficher le Qr Code</span>
    <label>
    Masquer
    <input id="page_patient_display_qrcode" 
            type="checkbox"
            {% if page_patient_display_qrcode == True %}checked{% endif %}
            hx-post="/admin/update_switch"
            hx-target="#invisible"
            hx-vals='js:{"key": "page_patient_display_qrcode",
                        "value": document.getElementById("page_patient_display_qrcode").checked}'>
    <span class="lever"></span>
    Afficher
    </label>
</div>

{{ macros.switch("page_patient_display_qrcode", 
            page_patient_display_qrcode, 
            "Afficher le Qr Code")
}}


{{ macros.switch("page_patient_qrcode_web_page", 
            page_patient_qrcode_web_page, 
            "Le QrCode affiche affiche une adresse web (sinon des données brutes)")
}}

<p>Il n'est pour l'instant pas possible d'afficher une page web si le serveur tourne sur un serveur local.</p>

<h5>Données brutes</h5>

{{ macros.textbloc_before_call("page_patient_qrcode_data", page_patient_qrcode_data, "Données à afficher") }}

{{ macros.switch("page_patient_qrcode_display_specific_message", 
                page_patient_qrcode_display_specific_message, 
                "Afficher le message spécifique à l'activité dans le QRCode")
}}

<h5>Tester le QR Code</h5>

<form id="qrcode-form" 
    hx-get="/admin/patient/qr_code/test" 
    hx-target="#modal_display_qrcode .modal-content" 
    hx-trigger="submit"
    class="row g-3 align-items-end">
    <div class="col-auto">
        <label for="call_number" class="form-label">Numéro d'appel</label>
        <input type="text" class="form-control" id="call_number" name="call_number" value="A-1">
    </div>
    <div class="col-auto">
        <label for="activity" class="form-label">Activité</label>
        <select class="form-select" id="activity" name="activity">
            {% for activity in activities %}
            <option value="{{ activity.id }}">
                {{ activity.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div class="col-auto">
        <label for="language" class="form-label">Langue</label>
        <select class="form-select" id="language" name="language">
            {% for language in languages %}
            <option value="{{ language.code }}">
                {{ language.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal_display_qrcode">
            Afficher un exemple de QRCode
        </button>
    </div>
</form>

<!-- Modal Structure Galerie-->
<div class="modal fade" id="modal_display_qrcode" tabindex="-1" aria-labelledby="modalGalleryLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Le contenu de la modale sera chargé ici par HTMX -->
        </div>
    </div>
</div>
