<btn class="btn"
    hx-get="/admin/patient/print_ticket_test"
    hx-target="#invisible"
    >
    Tester l'imprimante
</btn>

<div class="switch">
    <span>Masquer ou Afficher la possibilité d'imprimer le ticket</span>
    <label>
    Masquer
    <input id="page_patient_print_ticket_display" 
            type="checkbox"
            {% if page_patient_print_ticket_display == True %}checked{% endif %}
            hx-post="/admin/update_switch"
            hx-target="#invisible"
            hx-vals='js:{"key": "page_patient_print_ticket_display",
                        "value": document.getElementById("page_patient_print_ticket_display").checked}'>
    <span class="lever"></span>
    Afficher
    </label>
</div>

{{ macros.textarea_full("printer_width", printer_width, "Largeur d'impression") }}

<h5>Message du ticket</h5>

{{ macros.textbloc_before_call("ticket_header", ticket_header, "En-tête du message") }}
{{ macros.textbloc_before_call("ticket_message", ticket_message, "Corps du message") }}
{{ macros.textbloc_before_call("ticket_footer", ticket_footer, "Pied du message") }}


