<h3>Boutons de la page patient</h3>

    <div id="div_buttons_table"
        hx-get="/admin/patient/button_table"
        hx-trigger="load"
        hx-target="#div_buttons_table"
        hx-swap="innerHTML">
    </div>

        <!-- Ajout nouveau bouton -->
    <a class="waves-effect waves-light btn"
        hx-get="/admin/button/add_form"
        hx-target="#div_add_button_form"
        hx-swap="innerHTML">
        Ajouter un nouveau bouton
    </a>    
    <div id="div_add_button_form"></div>


    <div id="order_buttons"
        hx-get="/admin/patient/order_buttons"
        hx-target="#order_buttons"
        hx-trigger="load, refresh_buttons_order"
        hx-swap="innerHTML">
    </div>

    {{ macros.save_restore("buttons", 'gf_buttons') }}

    <!-- Modal Structure Confirm Delete-->
    <div id="modal_delete_button" class="modal">
    </div>

    
    <!-- Modal Structure Galerie-->
    <div id="modal_display_gallery" class="modal">
    </div>