<h3>QR Code</h3>
<p>Le Qr Code permet au patient de scanner son numéro de passage</p>

<div class="switch">
    <span>Masquer ou Afficher le Qr Code</span>
    <label>
    Masquer
    <input id="page_patient_display_qrcode" 
            type="checkbox"
            {% if page_patient_display_qrcode == True %}checked{% endif %}
            hx-post="/admin/update_switch"
            hx-target="#invisible"
            hx-vals='js:{"key": "page_patient_display_qrcode",
                        "value": document.getElementById("page_patient_display_qrcode").checked}'>
    <span class="lever"></span>
    Afficher
    </label>
</div>

{{ macros.switch("page_patient_display_qrcode", 
            page_patient_display_qrcode, 
            "Afficher le Qr Code")
}}


{{ macros.switch("page_patient_qrcode_web_page", 
            page_patient_qrcode_web_page, 
            "Le QrCode affiche affiche une adresse web (sinon des données brutes)")
}}

<p>Il n'est pour l'instant pas possible d'afficher une page web si le serveur tourne sur un serveur local.</p>

<h5>Données brutes</h5>

{{ macros.textbloc_before_call("page_patient_qrcode_data", page_patient_qrcode_data, "Données à afficher") }}

{{ macros.switch("page_patient_qrcode_display_specific_message", 
                page_patient_qrcode_display_specific_message, 
                "Afficher le message spécifique à l'activité dans le QRCode")
}}