<table id="staff_table" class="striped">
    <thead>
        <tr>
            <th>Intitulé</th>
            <th>Anglais</th>
            <th>Présence</th>            
            <th>Activité</th>
            <th>Dépendance</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for button in buttons %}
        <tr>
            <td><input type="text" name="label" value="{{ button.label }}" id="label-{{ button.id }}"></td>
            <td><input type="text" name="label_en" value="{{ button.label_en }}" id="label_en-{{ button.id }}"></td>
            <td>
                <p>
                    <label>
                        <input 
                        id="is_present-{{ button.id }}" 
                        type="checkbox" {{ 'checked' if button.is_present == True else '' }}>
                    <span></span>
                    </label>
                </p>
            </td>
            
            <td>
                <div class="input-field">
                    <select id="activity-{{ button.id }}">
                        <option value="" disabled selected>Selectionnez une activité liée à ce bouton</option>
                        <option value="parent_button" 
                                {{ 'selected' if button.is_parent == True else '' }}>BOUTON PARENT
                        </option>
                        {% for activity in activities %}
                            <option value="{{ activity.id }}" 
                                            {{ 'selected' if activity.id == button.activity.id else '' }}>{{ activity.name }} </option>
                        {% endfor %}
                    </select>
                </div>
            </td>

            <td>
                <div id="select_parent_buttons-{{ button.id }}"
                    hx-get="/admin/patient/display_parent_buttons/{{ button.id }}"
                    hx-trigger="load, refresh_parent_buttons"
                    hx-target="#select_parent_buttons-{{ button.id }}"
                    hx-swap="innerHTML"
                >
                    <!-- Place du Select bouton enfant -->
                </div>
            </td>

            

            <td>
                <button class="btn" 
                    hx-target="#invisible"
                    hx-post="/admin/patient/button_update/{{ button.id }}"
                    hx-vals='js:{"label": document.getElementById("label-{{ button.id }}").value, 
                            "label_en": document.getElementById("label_en-{{ button.id }}").value, 
                            "is_present": document.getElementById("is_present-{{ button.id }}").checked,
                            "activity": document.getElementById("activity-{{ button.id }}").value,
                            "parent_btn": document.getElementById("parent-{{ button.id }}").value, 
                            }'>
                    Enregistrer
                </button>

                <button class="btn modal-trigger red"
                        hx-get="/admin/patient/confirm_delete_button/{{ button.id }}"
                        hx-target="#modal_delete_button"
                        hx-trigger="click"
                        data-target="modal_delete_button">
                    Supprimer
                </button>
            </td>
        </tr>

        <tr>
            <td>
                <div id="button-image-{{ button.id }}">
                    {% if button.image_url %}
                        <img src="{{ url_for('static', filename='images/buttons/' ~ button.image_url) }}" alt="Button Image" style="width: 100px;">
                    {% else %}
                        <p>Aucune image</p>
                    {% endif %}
                </div>
            </td>
            <td>

                    <!-- Bouton pour ouvrir la modal -->
                    <button class="btn modal-trigger blue"
                    hx-get="/admin/patient/gallery_button_images/{{ button.id }}"
                    hx-target="#modal_display_gallery"
                    hx-trigger="click"
                    data-target="modal_display_gallery">
                Galerie
            </button>
            </td>

            <td>
                {% if button.image_url %}
                    <button class="btn red"
                        hx-get="/admin/patient/delete_button_image/{{ button.id }}"
                        hx-target="#button-image-{{ button.id }}"
                        hx-swap="innerHTML"
                        >
                        Supprimer l'image
                    </button>
                {% endif %}
            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>

