{% extends '/admin/base.html' %}

{% block title %}Page Patient{% endblock %}

{% block content %}
    <h3>Page patient</h3>

    <!--
    <div class="row">
        <div class="input-field col s6">
          <input placeholder="Titre" id="input_title" type="text" class="validate" value="{{ title_page }}"">
          <label for="input_title">Titre</label>
        </div>
    </div>

    <div>
        <a href="#!" 
            class="modal-close waves-effect waves-red btn">
            Enregistrer les changements</a>
    </div>
    -->

    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3"><a class="active" href="#test1">Textes</a></li>
                <li class="tab col s3"><a href="#tab_buttons">Boutons</a></li>
                <li class="tab col s3"><a href="#tab_qrcode">QR Code</a></li>
            </ul>
        </div>
        <div id="test1" class="col s12">
            {% include 'admin/page_patient_page.html' %}
        </div>
        <div id="tab_buttons" class="col s12">
            {% include 'admin/page_patient_buttons.html' %}
        </div>
        <div id="tab_qrcode" class="col s12">
            {% include 'admin/page_patient_qrcode.html' %}
        </div>
    </div>

        

    <!-- Voie de garage pour les retours htmx qui ne doivent pas être affichés-->
    <div id="invisible" style="display:none;"></div>
    
{% endblock %}