<h3>Choix de l'ordre des boutons</h3>
<p>Glissez-déposez les boutons dans l'ordre souhaite</p>
<ul id="list_order_buttons" class="list_order_buttons">
    {% for button in buttons %}
    <li class="button-order-item" data-id="{{ button.id }}">
        {{ button.label }}
    </li>
    {% endfor %}
</ul>
<button id="saveOrderButton"
        class=btn btn-primary
        hx-post="/admin/patient/update_button_order"
        hx-target="#invisible"
        hx-vals="js:{'order[]': Array.from(document.querySelectorAll('.button-order-item')).map(item => item.getAttribute('data-id'))}"
        >Sauvegarder l'ordre</button>

<script>
    sortable();
</script>