<table id="queue_table" class="striped">
    <thead>             
    <tr>
        <th>Numéro d'Appel</th>
        <th>Motif de Visite</th>
        <th>Heure d'Enregistrement</th>
        <th>Statut</th>
        <th>Comptoir</th>
    </tr>
    </thead>
    <tbody>
        {% for patient in patients %}
        <tr>
            <td><input type="text" class="form-control" name="call_number" value="{{ patient.call_number }}" id="call_number-{{ patient.id }}"></td>
            <td>
                <div class="input-field">
                <select class="form-select" id="activity-{{ patient.id }}">               
                    {% for activity in activities %}
                    <option value="{{ activity.id }}" {{ 'selected' if activity.id == patient.activity.id else '' }}>{{ activity.name }} </option>
                    {% endfor %}
                </select>
                </div>
            </td>
            <td>{{ patient.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</td>
            <td>
                <div class="input-field">
                <select class="form-select" id="status-{{ patient.id }}">               
                    {% for status in status_list %}
                        <option value="{{ status }}" {{ 'selected' if status == patient.status else '' }}>{{ status }}</option>
                    {% endfor %}
                </select>
                </div>
            </td>
            <td>
                <div class="input-field">
                <select class="form-select" id="counter-{{ patient.id }}"> 
                    <option value="None">None</option>              
                    {% for counter in counters %}
                        <option value="{{ counter.id }}" {{ 'selected' if counter.id == patient.counter.id else '' }}>{{ counter.name }} </option>
                    {% endfor %}
                </select>
                </div>
            </td>
            <td>

                <button class="btn btn-primary"
                    hx-target="#invisible"
                    hx-post="/admin/queue/patient_update/{{ patient.id }}"
                    hx-vals='js:{"call_number": document.getElementById("call_number-{{ patient.id }}").value,
                                "activity_id": document.getElementById("activity-{{ patient.id }}").value,
                                "status": document.getElementById("status-{{ patient.id }}").value,
                                "counter_id": document.getElementById("counter-{{ patient.id }}").value
                            }'>
                    Enregistrer
                </button>

                <button class="btn btn-danger"
                        hx-get="/admin/queue/confirm_delete_patient/{{ patient.id }}"
                        hx-target="#modal-htmx"
                        hx-trigger="click"
                        data-bs-target="#modal_delete"
                        data-bs-toggle="modal">
                    Supprimer
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
