<div class="modal-content">
    <h4>Suppression d'un patient</h4>
    <p>Vous vous appretez à supprimer le patient {{patient.call_number}} définitivement. Confirmez-vous la suppression ? </p>
    </div>
    <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Annuler</a>
    <a href="#!" 
        class="modal-close waves-effect waves-red btn-flat"
        hx-get="/admin/queue/delete_patient/{{patient.id}}"
        hx-target="#div_queue_table">
        Confirmer</a>
    </div>