{% extends '/admin/base.html' %}

{% block title %}File{% endblock %}

{% block content %}
    <h3 class="text-center">File d'attente</h3>

    <!-- Select patient filter  -->
    <div class="input-field">
        <select multiple
            class="form-select"
            id="select_patient_filter"
            hx-post="/admin/queue/table"
            hx-target="#div_queue_table"
            hx-swap="innerHTML"
            hx-trigger="change"
            hx-vals='js:{
                "ongoing": $("#select_patient_filter").val().includes("ongoing"),
                "standing": $("#select_patient_filter").val().includes("standing"),
                "calling": $("#select_patient_filter").val().includes("calling"),
                "done": $("#select_patient_filter").val().includes("done")
            }'
        >
            <option id="ongoing" selected value="ongoing">En cours</option>
            <option id="standing" selected value="standing">En attente</option>
            <option id="calling" selected value="calling">Appelé</option>
            <option id="done" value="done">Servi</option>
        </select>
        <label>Choisir les patients à afficher (si rien n'est coché, tout sera affiché)</label>
    </div>

    <br>

    <!-- Queue table -->
    <div id="div_queue_table"
        hx-post="/admin/queue/table"
        hx-trigger="load, refresh_queue_patient from:body"
        hx-target="#div_queue_table"
        hx-swap="innerHTML"
        hx-vals='js:{"ongoing": document.getElementById("ongoing").selected,
                    "standing": document.getElementById("standing").selected,
                    "calling": document.getElementById("calling").selected,
                    "done": document.getElementById("done").selected}'
        >
    </div>

    <br>

    <button 
        class="btn btn-danger"
        hx-get="/admin/database/confirm_delete_patient_table"
        hx-target="#modal-htmx"
        hx-trigger="click"
        data-bs-target="#modal_delete"
        data-bs-toggle="modal">
        Supprimer toute la liste
    </button>
    
    <br><br>

    <h3>Ajouter un patient</h3>

    <div class="input-field row s12">
        <div class="col s4">
            <select class="form-select"
                id="create_new_patient_auto">
                <option value="" disabled selected>Choisir un motif</option>
                {% for activity in activities %}
                    <option value="{{ activity.id }}">{{ activity.name }}</option>
                {% endfor %}
            </select>
            <label></label>
        </div>
        <div class="col s4">
            <button
                class="btn btn-primary"
                hx-post="/admin/queue/create_new_patient_auto"
                hx-target="#invisible"
                hx-trigger="click"
                hx-swap="innerHTML"
                hx-vals='js:{"activity_id": document.getElementById("create_new_patient_auto").value}'
                >
                Création rapide
            </button>
        </div>
    </div>

    <script>

    </script>

{% endblock %}