<div class="modal-content">
    <h4>Suppression d'une plage horaire</h4>
    <p>Vous vous appretez à supprimer {{schedule.name}} définitivement. Confirmez-vous la suppression ? </p>
    </div>
    <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Annuler</a>
    <a href="#!" 
        class="modal-close waves-effect waves-red btn-flat"
        hx-get="/admin/schedule/delete/{{ schedule.id }}"
        hx-target="#div_schedule_table">
        Confirmer</a>
    </div>