<div class="mb-3">
    <label for="password1" class="form-label">Nouveau mot de passe</label>
    <input type="password" class="form-control" id="password1" required>
</div>
<div class="mb-3">
    <label for="password2" class="form-label">Confirmer le mot de passe</label>
    <input type="password" class="form-control" id="password2" required>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
    <button type="button" class="btn btn-primary"
        hx-post="/admin/security/update_password/{{ user_id }}"
        hx-target="#div_user_table"
        hx-vals='js:{
            "password1": document.getElementById("password1").value,
            "password2": document.getElementById("password2").value
        }'
        data-bs-dismiss="modal">
        Enregistrer
    </button>
</div>
