<div class="modal-content">
    <h4>Suppression d'un utilisateur</h4>
    <p>Vous vous appretez à supprimer l'utilisateur {{user.username}} définitivement. Confirmez-vous la suppression ? </p>
    </div>
    <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Annuler</a>
    <a href="#!" 
        class="modal-close waves-effect waves-red btn-flat"
        hx-get="/admin/security/delete_user/{{ user.id }}"
        hx-target="#div_user_table">
        Confirmer</a>
    </div>