<table id="new_user_form">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Rôle</th>
            <th>Email</th>
            <th>Mot de Passe</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input type="text" id="new_username"></td>
            <td>
                <div class="input-field">
                    <select class="form-select" id="new_user_role" required>
                        <option value="">Sélectionner un rôle</option>
                        {% for role in roles %}
                        <option value="{{ role.id }}">{{ role.name }} - {{ role.description }}</option>
                        {% endfor %}
                    </select>
                </div>
            </td>

            <td> 
                <div class="input-field">
                    <input id="new_email" type="email" class="validate">
                    <label for="new_email">Email</label>
                </div>
            </td>
            
            <td> 
                <div class="input-field">
                    <input id="new_password1" type="password" class="validate">
                    <label for="new_password1">Password</label>
                    <input id="new_password2" type="password" class="validate"> 
                    <label for="new_password2">Password</label>
                </div>
            </td>
            
            <td>
                <button class="btn btn-primary"
                    hx-target="#div_user_table"
                    hx-post="/admin/security/add_new_user"
                    data-param-username="#new_username"
                    data-param-email="#new_email"
                    data-param-password1="#new_password1"
                    data-param-password2="#new_password2"
                    data-param-role_id="#new_user_role">
                    Enregistrer
                </button>
            </td>
        </tr>
    </tbody>
</table>
