<table id="algo_table" class="striped">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Rôle</th>
            <th>Email</th>
            <th>Mot de Passe</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td><input type="text" class="form-control" value="{{ user.username }}" id="username-{{ user.id }}"></td>
            <td>A venir</td>
            <td>
                <div class="input-field">
                    <input id="email-{{ user.id }}" type="email" class="form-control" class="validate" value="{{ user.email }}">
                </div>
            </td>

            <td> 
                <div class="input-field">
                    <input id="password1-{{ user.id }}" type="password" class="form-control" class="validate">
                    <label for="password2-{{ user.id }}">Répeter</label>
                    <input id="password2-{{ user.id }}" type="password" class="form-control" class="validate"> 
                </div>
            </td>

            <td>
                <button class="btn btn-primary"
                    hx-target="#invisible"
                    hx-post="/admin/security/user_update/{{ user.id }}"
                    hx-vals='js:{"username": document.getElementById("username-{{ user.id }}").value,
                                "email": document.getElementById("email-{{ user.id }}").value,
                                "password1": document.getElementById("password1-{{ user.id }}").value,
                                "password2": document.getElementById("password2-{{ user.id }}").value
                            }'>
                    Enregistrer
                </button>

                <button class="btn btn-danger"
                    hx-get="/admin/security/confirm_delete_user/{{ user.id }}"
                    hx-target="#modal_delete_user"
                    hx-trigger="click"
                    data-target="modal_delete_user">
                Supprimer
                </button> 
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>