<table id="new_user_form">
    <thead>
        <tr>
            <tr>
                <th>Nom</th>
                <th>Rôle</th>
                <th>Email</th>
                <th>Mot de Passe</th>
                <th>Action</th>
            </tr>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input type="text" id="username"></td>
            <td>
                <div class="input-field">
                    <select class="form-select" id="role" required>
                        <option value="">Sélectionner un rôle</option>
                        {% for role in roles %}
                        <option value="{{ role.id }}">{{ role.name }} - {{ role.description }}</option>
                        {% endfor %}
                    </select>
                </div>
            </td>

            <td> 
                <div class="input-field">
                    <input id="email" type="email" class="validate">
                    <label for="email">Email</label>
                </div>
            </td>
            
            <td> 
                <div class="input-field">
                    <input id="password1" type="password" class="validate">
                    <label for="password1">Password</label>
                    <input id="password2" type="password" class="validate"> 
                    <label for="password2">Password</label>
                </div>
            </td>
            
            <td>
                <button class="btn btn-primary"
                    hx-target="#div_user_table"
                    hx-post="/admin/security/add_new_user"
                    hx-vals='js:{"username": document.getElementById("username").value,
                                "email": document.getElementById("email").value,
                                "password1": document.getElementById("password1").value,
                                "password2": document.getElementById("password2").value,
                                "role_id": document.getElementById("role").value
                            }'>
                    Enregistrer
                </button>
            </td>
        </tr>
    </tbody>
</table>