

        {% for role in roles %}
        <div id="role-{{ role.id }}">
            <div class="mb-3">
                <label for="name-{{ role.id }}" class="form-label">Nom</label>
                <input type="text" class="form-control" value="{{ role.name }}" id="name-{{ role.id }}">
            </div>
            <div class="mb-3">
                <label for="description-{{ role.id }}" class="form-label">Description</label>
                <input type="text" class="form-control" value="{{ role.description }}" id="description-{{ role.id }}">
            </div>

            <div>
                <div class="row">
                    {% for page, permission in role.to_dict()['permissions'].items() %}
                    <div class="col-md-4">
                        <div class="mb-2">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input permission-checkbox" 
                                    id="{{ page }}-{{ role.id }}"
                                    data-permission="{{ page }}"
                                    {% if permission %}checked{% endif %}
                                    {% if role.name == "admin" %}disabled{% endif %}>
                                <label class="form-check-label" for="{{ page }}-{{ role.id }}">
                                    {{ page.replace('admin_', '').title() }}
                                </label>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div>
                <button class="btn btn-primary"
                    {% if role.name == "admin" %} disabled {% endif %}
                    hx-target="#invisible"
                    hx-post="/admin/security/role_update/{{ role.id }}"
                    hx-trigger="click"
                    hx-swap="outerHTML"
                    hx-vals='js:{
                        "name": document.getElementById("name-{{ role.id }}").value,
                        "description": document.getElementById("description-{{ role.id }}").value,
                        "permissions": JSON.stringify(
                            Object.fromEntries(
                                Array.from(document.querySelectorAll("#role-{{ role.id }} .permission-checkbox"))
                                    .map(checkbox => [checkbox.dataset.permission, checkbox.checked ? true : false])
                            )
                        )
                    }'>
                    Enregistrer
                </button>

                <button class="btn btn-danger"
                    {% if role.name == "admin" %} disabled {% endif %}
                    hx-get="/admin/security/confirm_delete_role/{{ role.id }}"
                    hx-target="#modal-htmx"
                    hx-trigger="click"
                    data-bs-target="#modal_delete"
                    data-bs-toggle="modal">
                    Supprimer
                </button> 

            </div>
        </div>

        <hr>

        {% endfor %}
