<table id="new_staff_form">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Initiales</th>
            <th>Langues</th>
            <th>Activité</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input type="text" class="form-control" name="name" value="" id="name"></td>
            <td><input type="text" class="form-control" name="initials" value="" id="initials"></td>
            <td><input type="text" class="form-control" name="language" value="" id="language"></td>
            <td>
                <!-- Affichage des checkboxes pour chaque activité -->
                {% for activity in activities %}
                <label>
                    <input class="activities form-check-input" type="checkbox" name="activities" checked="checked"  value="{{ activity.id }}" />
                    <span class="form-check-label">{{ activity.name }}</span>
                </label>
                {% endfor %}
            </td>
            <td>
                <button class="btn btn-primary"
                    hx-target="#div_staff_table"
                    hx-post="/admin/staff/add_new_staff"
                    hx-include=".activities"
                    hx-vals='js:{"name": document.getElementById("name").value, 
                            "initials": document.getElementById("initials").value, 
                            "language": document.getElementById("language").value, 
                            }'>
                    Enregistrer
                </button>
            </td>
        </tr>
    </tbody>
</table>