<table id="staff_table" class="striped">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Initiales</th>
            <th>Langues</th>
            <th>Activité</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for member in staff %}
        <tr>
            <td><input type="text" class="form-control" name="name" value="{{ member.name }}" id="name-{{ member.id }}"></td>
            <td><input type="text" class="form-control" name="initials" value="{{ member.initials }}" id="initials-{{ member.id }}"></td>
            <td><input type="text" class="form-control" name="language" value="{{ member.language }}" id="language-{{ member.id }}"></td>
            <td>
                <!-- Affichage des checkboxes pour chaque activité -->
                {% for activity in activities %}                
                <span>
                    <input class="activities-{{ member.id }} form-check-input" type="checkbox" name="activities" value="{{ activity.id }}" 
                        {% if activity in member.activities %} checked {% endif %} />
                    <span class="form-check-label">{{ activity.name }}</span>
                </span>
            {% endfor %}
            </td>
            <td>
                <button class="btn btn-primary btnSaveLine"
                    hx-target="#invisible"
                    hx-include=".activities-{{ member.id }}"
                    hx-post="/admin/staff/member_update/{{ member.id }}"
                    hx-vals='js:{"name": document.getElementById("name-{{ member.id }}").value, 
                            "initials": document.getElementById("initials-{{ member.id }}").value, 
                            "language": document.getElementById("language-{{ member.id }}").value, 
                            }'>
                    Enregistrer
                </button>

                <button class="btn btn-danger"
                    hx-get="/admin/staff/confirm_delete/{{ member.id }}"
                    hx-target="#modal-htmx"
                    hx-trigger="click"
                    data-bs-target="#modal_delete"
                    data-bs-toggle="modal">
                    Supprimer
                </button>

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>