{% extends '/admin/base.html' %}

{% block title %}Equipe{% endblock %}

{% block content %}
    <h3>Equipe</h3>

    <div id="div_staff_table"
        hx-get="/admin/staff/table"
        hx-trigger="load"
        hx-target="#div_staff_table"
        hx-swap="innerHTML">        
    </div>

    <!-- Ajout nouveau membre -->
    <a class="btn btn-primary"
        hx-get="/admin/staff/add_form"
        hx-target="#div_add_staff_form"
        hx-swap="innerHTML">
    Ajouter un membre a l'équipe
    </a>    
    <div id="div_add_staff_form"></div>

    {{ macros.save_restore("staff", "gf_staff") }}

    
{% endblock %}