{% extends '/admin/base.html' %}

{% block title %}Equipe{% endblock %}

{% block content %}
    <h3>Equipe</h3>

    <div id="div_staff_table"
        hx-get="/admin/staff/table"
        hx-trigger="load"
        hx-target="#div_staff_table"
        hx-swap="innerHTML">        
    </div>

    <!-- Ajout nouveau membre -->
    <a class="waves-effect waves-light btn"
        hx-get="/admin/staff/add_form"
        hx-target="#div_add_staff_form"
        hx-swap="innerHTML">
    Ajouter un membre a l'équipe
    </a>    
    <div id="div_add_staff_form"></div>

    <h3>Sauvegarde / Restauration</h3>

    <a class='btn' href="{{ url_for('staff_backup') }}">Sauvegarde des données</a>

    <form action="{{ url_for('staff_restore') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".json">
        <button class ="btn btn-red" type="submit">Restaurer les données</button>
    </form>

    <!-- Modal Structure -->
    <div id="modal_delete_staff" class="modal">
    </div>

    <!-- Voie de garage pour les retours htmx qui ne doivent pas être affichés-->
    <div id="invisible" style="display:none;"></div>
    
{% endblock %}