<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Écran d'Affichage</title>
        <!-- Script SocketIO -->
        <script src="https://unpkg.com/htmx.org"></script>
        <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/ws.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        {# CSS par défaut pour être sûr d'avoir quelque chose #}
        <link rel="stylesheet" href="../static/css/display.css">
        {# Les surcharges personnalisées sont chargées après #}
        <link rel="stylesheet" href="{{ get_css_url(mode='announce') }}">
        <!-- Swiper-->
        <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <!-- Anime JS -->   
        <script src="../static/js/anime-master/anime.min.js"></script>
        <script src="https://sdk.scdn.co/spotify-player.js"></script>

</head>
<body>

    <div id="full_page">

        <audio id="player" src="" hidden></audio>

        <div hidden>
            <span id="announce_text_up_patients">{{announce_text_up_patients}}</span>
            <span id="announce_text_up_patients_display">{{announce_text_up_patients_display}}</span>
            <span id="announce_text_down_patients">{{announce_text_down_patients}}</span>
            <span id="announce_text_down_patients_display">{{announce_text_down_patients_display}}</span>
        </div>

        <div id="div_title_area"  hx-trigger="refresh" hx-get="/current_patients" hx-swap="innerHTML">
            <p id="text_title" onclick="initializeAudio()" id="text_title">
                {{announce_title}}</p>
            <p id="text_subtitle">
                {{announce_subtitle}}</p>
        </div>

        <div class="div_center"
            {% if announce_infos_display %} id = "div_center_divided" {% else %} id="div_center_not_divided" {% endif %}>
            <div id="left_side">                

                <div id="div_display_text_up"
                    {% if announce_text_up_patients == "" or announce_text_up_patients_display == "never" %} 
                        style="display: none;"
                    {% endif %}
                >
                    {{announce_text_up_patients}}
                </div>

                <div id="div_calling">
                    <ul id="patient_list">
                        {% for call_patient in call_patients %}
                            <li 
                                id="patient-{{call_patient.id}}"
                                class="text_patient_calling"
                                data-counter="{{call_patient.counter_id}}">
                                {{ call_patient.text }} {{call_patient.counter_id}}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                
                <div id="div_display_text_down"
                    {% if announce_text_down_patients == "" or announce_text_down_patients_display == "never" %} 
                        style="display: none;"
                    {% endif %}>
                    {{announce_text_down_patients}}
                </div>

                {% if announce_ongoing_display %}
                    <div id="div_ongoing"
                            hx-trigger="refresh_ongoing, load" 
                            hx-get="/announce/patients_ongoing" 
                            hx-swap="innerHTML">
                        <!-- PATIENT ON GOING -->
                    </div>
                {% endif %}
            </div>

        {% if announce_infos_display %}
            <div id="div_pub"
                hx-get="/announce/init_gallery"
                hx-swap="innerHTML"
                hx-trigger="load">
                <!-- PUB / ANNONCES -->
            </div>
        {% endif %}

        </div>


        <div id="div_footer">
            <!-- FOOTER -->
        </div>

    </div>

    </div>

<script src="../static/js/announce.js"></script>


</body>
</html>