<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Écran d'Affichage</title>
        <!-- Script SocketIO -->
        <script src="https://unpkg.com/htmx.org"></script>
        <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/ws.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
</head>
<body>
    <button onclick="initializeAudio()">Activer le Son</button>
    <audio id="player" src="" hidden></audio>

    <h1>Patients en Cours de Service</h1>
    <div id="update-section"  hx-trigger="refresh" hx-get="/current_patients" hx-swap="innerHTML">
    </div>

    <div id="patient_calling" hx-trigger="refresh_calling, load" hx-get="/patients_calling" hx-swap="innerHTML">
        
    </div>

    <div id="patient_on_queue" hx-trigger="refresh_queue, load" hx-get="/patients_queue" hx-swap="innerHTML">
    </div>

    <script type="text/javascript">



    function initializeAudio() {
            const player = document.getElementById('player');
            // Cette fonction est appelée par un clic utilisateur, ce qui 'déverrouille' la capacité de jouer des sons.
            player.src = '/static/audio/beep.wav';
            player.play();  // Essayez de jouer quelque chose immédiatement pour confirmer l'activation.
        }


        if (Notification.permission !== 'granted'){
            requestPermissions();
        }

        function requestPermissions() {
                    Notification.requestPermission().then(permission => {
                        if (permission === 'granted') {
                            alert('Notifications activées!');
                        } else {
                            alert('Notifications refusées. Le son ne fonctionnera pas sans cette autorisation.');
                        }
                    });
                }

        var socket = io.connect('http://127.0.0.1:5000/');
        socket.on('trigger_htmx_update', function() {
        // Utiliser HTMX pour déclencher une mise à jour
        console.log("Mise à jour de l'écran d'affichage...");
        htmx.trigger('#update-section', 'refresh', {target: '#update-section'});
        });

        socket.on('trigger_new_patient', function() {
        // Utiliser HTMX pour déclencher une mise à jour
        console.log("Nouveau patient...");
        htmx.trigger('#patient_on_queue', 'refresh_queue', {target: '#patient_on_queue'});
        });

        socket.on('trigger_patient_calling', function(data) {
        // Utiliser HTMX pour déclencher une mise à jour
        console.log("Calling...");
        htmx.trigger('#patient_calling', 'refresh_calling', {target: '#patient_calling'});
        });

        socket.on('trigger_audio_calling', function(data) {
            // Utiliser HTMX pour déclencher AUDIO
            console.log("Calling... Audio");

            let audiofile = data.audiofile;
            console.log("Playing audio...", audiofile);
            playAudio(audiofile);
        });


    function playAudio(audiofile) {
        const player = document.getElementById('player');
        console.log("Playing audio...");
        player.src = `/static/audio/${audiofile}`;
        player.play();
        console.log("Playing audio... DONE");
    }

    </script>


</body>
</html>