<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Enregistrement de la file d'attente</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="../static/css/patient.css">
    <script src="https://unpkg.com/htmx.org"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/ws.js"></script>
</head>
<body>

    <div class="center-align top">
        <h1>{{ _('Bienvenue à la Pharmacie Sainte-Agathe') }}</h1>
        <h3>{{ _("Afin d'améliorer votre prise en charge, saisissez le motif de votre visite. Nous vous appelerons à votre tour.") }}</h3>
    </div>

    <div class="row s12">
        <div class="container col s6">
                <div class="row">
                    <div class="col s6 valign-wrapper div-btn-large">
                        <button class="btn-large waves-effect waves-light col" hx-post="/patients_submit" hx-vals='{"reason": "ordonnance"}' hx-target="#right_page" style="background-image:url('/static/images/prescription.png'); background-size: cover;">
                            <p class="button-text-style">{{ _('Ordonnance / Conseil') }}</p>
                        </button>
                    </div>
                    <div class="col s6 valign-wrapper div-btn-large">
                        <button class="btn-large waves-effect waves-light col" hx-post="/patients_submit" hx-vals='{"reason": "retrait"}' hx-target="#right_page" style="background-image:url('/static/images/retrait.png'); background-size: cover;">
                            <p class="button-text-style">{{ _('Retrait de commande / dû') }}</p>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6 valign-wrapper div-btn-large">
                        <button class="btn-large waves-effect waves-light col" hx-post="/patients_submit" hx-vals='{"reason": "vaccination"}' hx-target="#right_page" style="background-image:url('/static/images/vaccin.png'); background-size: cover;">
                            <p class="button-text-style">{{ _('Vaccination') }}</p>
                        </button>
                    </div>
                    <div class="col s6 valign-wrapper div-btn-large">
                        <button class="btn-large waves-effect waves-light col" hx-get="/patients_submit" hx-vals='{"reason": "rdv"}' hx-target="#right_page" style="background-image:url('/static/images/rdv.png'); background-size: cover;">
                            <p class="button-text-style">{{ _('Rendez-vous') }}</p>
                        </button>
                    </div>
                </div>
        </div>

        <div id="right_page" class="container col s5" hx-trigger="load" hx-get="/patient_right_page_default" hx-swap="innerHTML">
            Texte temporaire....
        </div>

    </div>

    <div class="container">
        <div class="row text-center s12 center-align" style="display: flex; justify-content: center;">
            <a href="/patients/fr"><button class="btn btn-country waves-effect waves-light col" type="submit" name="language" value="fr" style="background-image:url('/static/images/pays/france.png'); background-size: cover;"></button></a>
            <a href="/patients/en"><button class="btn btn-country waves-effect waves-light col" type="submit" name="language" value="us" style="background-image:url('/static/images/pays/etats-unis.png'); background-size: cover;"></button></a>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="../static/js/patients.js"></script>
</body>
</html>
